{% extends "base.html" %}
{% block title %}Produccion Inventarios{% endblock %}
{% block body %}
<div>

  <form id="inventory_form" class="row" method="POST">
    <h4 class="modal-title me-1" id="productionInventoryModalLabel">Inventario Produccion</h4>
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <select class="col-auto form-select me-1" style="width:150px;" name="inventory">
      <option value="stock">Animales</option>
      <option value="feed">Alimento</option>
    </select>
    <input type="text" name="d1" class="col-auto form-control date me-1" style="width:150px;" placeholder="desde . . ." />
    <input type="text" name="d2" class="col-auto form-control date me-1" style="width:150px;" placeholder="hasta . . ." />
    <input type="submit" class="col-auto btn btn-success mobile-space" value="ver"/>
  </form>

  <div id="inventory_div"></div>

</div>

<!-- PRODUCTION INVENTORY HISTORY MODAL -->
<div id="inventory_history_modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="productionInventoryHistoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl"><!-- modal-dialog-scrollable -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="productionInventoryHistoryModalLabel">Historia</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>{% include("templates/report.js") %}</script>
<script>
//////////////////////////////////// INVENTORY ///////////////////////////////////////
var group_events_dic = {
  "g_ev_feeds": {"name":"alimentacion", "cols":["alimento", "ingreso", "salida"]},
  "g_ev_stock": {"name":"inventario", "cols":["ingreso", "salida", "muerte", "causa", "peso"]},
  "g_ev_stock_move": {"name":"traslado", "cols":["ingreso", "salida", "muerte", "causa", "peso"]},
  "g_ev_weights": {"name":"pesaje", "cols":["animales", "peso"]},
  "g_ev_diseases": {"name":"efermedad", "cols":["animales", "enfermedad", "medicacion"]},
  "g_ev_notes": {"name":"nota", "cols":["nota"]}
};

var data = {{ data|safe }};
data["all_lines"] = true;
$("#inventory_div").html(set_table(data));
$("#inventory_form").find("select[name='inventory']").val('{{ inventory }}').end()
                    .find("input[name='d1']").val('{{ d1 }}').end()
                    .find("input[name='d2']").val('{{ d2 }}');

$("#inventory_div").on("click", "span.group", function(){
  var pd = new FormData(),
      $tr = $(this).parents("tr"),
      $form = $("#inventory_form"),
      $modal = $("#inventory_history_modal");
  pd.append("inventory", $form.find("select[name='inventory']").val());
  pd.append("d1", $form.find("input[name='d1']").val());
  pd.append("d2", $form.find("input[name='d2']").val());
  pd.append("group_id", parseInt($tr.find("td:eq(0)").text(), 10));
  request('{{ url_for("growing.get_inventory_history") }}', pd, function(rs){  // id, table, date, data
    for (var i in rs) {
      rs[i][3] = $.map(rs[i][3].split("_"), function(v, k){
                 return v?group_events_dic[rs[i][2]]["cols"][k]+": "+v:"";
               }).join(", ");
      rs[i][2] = group_events_dic[rs[i][2]]["name"];
      rs[i].push('<button class="btn btn-danger delete">borrar</button>');
    }
    $modal.find("div.modal-body > table > thead")
      .html('<th>'+["Fecha", "Evento", "Informacion", "Corral","Edad",""].join('</th><th>')+'</th>');
    $modal.find("div.modal-body > table > tbody").html($.map(rs, function(row){
      return '<tr data-id="'+row[0]+'"><td>' + row.slice(1).join('</td><td>') + '</td></tr>';
    }).join(""));
    $modal.modal("show");
  });
});

$("#inventory_div").on("click", "span.feed", function(){
  var pd = new FormData(),
      $tr = $(this).parents("tr"),
      $form = $("#inventory_form"),
      $modal = $("#inventory_history_modal");
  pd.append("inventory", $form.find("select[name='inventory']").val());
  pd.append("d1", $form.find("input[name='d1']").val());
  pd.append("d2", $form.find("input[name='d2']").val());
  pd.append("pen_id", parseInt($tr.find("td:eq(0)").text(), 10));
  pd.append("feed", $tr.find("td:eq(2)").text());
  request('{{ url_for("growing.get_inventory_history") }}', pd, function(rs){  // id, date, ingress, egress, desde/hacia
    for (var k in rs) rs[k].push('<button class="btn btn-danger delete">borrar</button>');
    $modal.find("div.modal-body > table > thead")
      .html('<th>'+["Fecha","Ingreso","Salida","Desde/hacia", ""].join('</th><th>')+'</th>');
    $modal.find("div.modal-body > table > tbody").html($.map(rs, function(row){
      return '<tr data-id="'+row[0]+'"><td>' + row.slice(1).join('</td><td>') + '</td></tr>';
    }).join(""));
    $modal.modal("show");
  });
});

$("#inventory_history_modal div.modal-body table > tbody").on("click", "button.delete", function(){
  var $tr = $(this).parents("tr"),
      $form = $("#inventory_form");
  if ($form.find("select[name='inventory']").val() == 'feed') {
    var conf = confirm("Desea borrar evento del: "+$tr.find("td:eq(0)").text()+"?");
  } else {
    var conf = confirm("Desea borrar evento: " + $tr.find("td:eq(1)").text() +
                       " del: " + $tr.find("td:eq(0)").text()+"?");
  }
  if (conf){
    var pd = new FormData();
    pd.append("id", $tr.data("id"));
    pd.append("inventory", $form.find("select[name='inventory']").val());
    pd.append("d1", $form.find("input[name='d1']").val());
    pd.append("d2", $form.find("input[name='d2']").val());
    request('{{ url_for("growing.set_inventory_delete") }}', pd, function(rs){
      alert("Evento borrado!");
      rs["all_lines"] = true;
      $('#inventory_div').empty().html(set_table(rs));
      $("#inventory_history_modal").modal("hide");
    });
  }
});
</script>
{% endblock %}
