{% extends "base.html" %}
{% block title %}Parametros{% endblock %}
{% block body %}
<div>

  <br>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pens-tab" data-bs-toggle="tab" href="#pens" role="tab" aria-controls="pens" aria-selected="true">Corrales</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="week_feeds-tab" data-bs-toggle="tab" href="#week_feeds" role="tab" aria-controls="week_feeds" aria-selected="false">Consumo / Semana</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="prices-tab" data-bs-toggle="tab" href="#prices" role="tab" aria-controls="prices" aria-selected="false">Alimentos</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pens" role="tabpanel" aria-labelledby="pens-tab">
      <br>
      <form action="#">
        <table class="table table-striped" width="100%">
          <thead>
            <tr><td>Lugar</td><td>Galeron</td><td>Corrales</td><td>Acciones</td></tr>
            <tr>
              <td><input type="text" name="place" class="form-control" required="required" /></td>
              <td><input type="text" name="house" class="form-control" required="required" autocomplete="off" /></td>
              <td><input type="text" name="pens" class="form-control" required="required" autocomplete="off" /></td>
              <td><input type="submit" class="btn btn-primary" value="ingresar" /></td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </form>

    </div>
    <div class="tab-pane fade" id="week_feeds" role="tabpanel" aria-labelledby="week_feeds-tab">
      <br>
      <form action="#">
        <table class="table table-striped" width="100%">
          <thead>
            <tr><td>Semana</td><td>Consumo / Semana</td><td>Tipo</td><td>Acciones</td></tr>
            <tr>
              <td></td>
              <td><input type="text" name="weight" class="form-control" required="required" autocomplete="off" /></td>
              <td><input type="text" name="feed_type" class="form-control" required="required" /></td>
              <td><input type="submit" class="btn btn-primary" value="ingresar" /></td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </form>

    </div>
    <div class="tab-pane fade" id="prices" role="tabpanel" aria-labelledby="prices-tab">
      <br>
      <form action="#">
        <table class="table table-striped" width="100%">
          <thead>
            <tr><td>Alimento</td>
                <td>Descripcion</td>
                <td>Precio</td>
                <td>Activo</td>
                <td>Acciones</td></tr>
            <tr>
              <td><input type="text" name="feed" class="form-control" required="required" autocomplete="off" /></td>

              <td><input type="text" name="description" class="form-control" required="required" autocomplete="off" /></td>
              <td><input type="text" name="price" class="form-control" required="required" autocomplete="off" /></td>
              <td></td>
              <td><input type="submit" class="btn btn-primary" value="ingresar" /></td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </form>

    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script>
// PENS
function set_parameters_pens(rs){
  $("#pens table > tbody").html($.map(rs, function(row){
    return '<tr>' +
           '  <td>' + row.join('</td><td>') + '</td>' +
           '  <td></td>' +
           '</tr>';
  }).join(""));
}

$("#pens-tab").click(function(){
  var pd = new FormData();
  pd.append("action", "select_pens");
  request('{{ url_for("growing.get_growing_parameters") }}', pd, set_parameters_pens);
});
$("#pens-tab").click();

$("#pens > form").submit(function () {
  var pd = new FormData(this);
  pd.append("action", "insert_pens");
  request('{{ url_for("growing.set_growing_parameters") }}', pd, set_parameters_pens);
  return false;
});


// WEEK FEEDS
function set_parameters_week_feeds(rs){
  $("#week_feeds table > tbody").html($.map(rs, function(row){
    return '<tr>' +
           '  <td>' + row.join('</td><td>') + '</td>' +
           '  <td><button class="btn btn-danger update">actualizar</button></td>' +
           '</tr>';
  }).join(""));
}

$("#week_feeds-tab").click(function(){
  var pd = new FormData();
  pd.append("action", "select_week_feeds");
  request('{{ url_for("growing.get_growing_parameters") }}', pd, set_parameters_week_feeds);
});

$("#week_feeds > form").submit(function () {
  var pd = new FormData(this);
  pd.append("action", "insert_week_feed");
  request('{{ url_for("growing.set_growing_parameters") }}', pd, function(rs){
    alert("ingresado!");
    set_parameters_week_feeds(rs);
  });
  return false;
});

$("#week_feeds table > tbody").on("click", "button.update", function(){
  var pd = new FormData(),
      $tr = $(this).parents("tr");
      data = prompt("Consumo,tipo:",
                    $tr.find("td:eq(1)").text()+","+$tr.find("td:eq(2)").text());
  if (data) {
    data = data.split(",");
    pd.append("action", "update_week_feed");
    pd.append("id", $tr.find("td:eq(0)").text());
    pd.append("weight", data[0]);
    pd.append("feed_type", data[1]);
    request('{{ url_for("growing.set_growing_parameters") }}', pd, set_parameters_week_feeds);
  }
  return false;
});


// PRICES
function set_parameters_prices(rs){
  $("#prices table > tbody").html($.map(rs, function(row){
    return '<tr data-id="'+row[0]+'">' +
           '  <td>' + row.slice(1).join('</td><td>') + '</td>' +
           '  <td><button class="btn btn-danger update">actualizar</button></td>' +
           '</tr>';
  }).join(""));
}

$("#prices-tab").click(function(){
  var pd = new FormData();
  pd.append("action", "select_prices");
  request('{{ url_for("growing.get_growing_parameters") }}', pd, set_parameters_prices);
});

$("#prices > form").submit(function () {
  var pd = new FormData(this);
  pd.append("action", "insert_price");
  request('{{ url_for("growing.set_growing_parameters") }}', pd, set_parameters_prices);
  return false;
});

$("#prices table > tbody").on("click", "button.update", function(){
  var pd = new FormData(),
      $tr = $(this).parents("tr");
  pd.append("action", "update_price");
  pd.append("id", $tr.data("id"));
  pd.append("feed", $("#prices > form input[name=feed]").val());
  pd.append("description", $("#prices > form input[name=description]").val());
  pd.append("price", $("#prices > form input[name=price]").val());
  request('{{ url_for("growing.set_growing_parameters") }}', pd, set_parameters_prices);
  return false;
});
</script>
{% endblock %}
