{% extends "base.html" %}
{% block title %}Notebooks{% endblock %}
{% block body %}
<div>
  <div class="row">
    <h2 class="col-auto">Notebooks</h2>
    <button type="button" class="col-auto btn btn-primary" data-bs-toggle="modal" href="#notebook_upload_modal">Upload</button>
  </div>
  <table id="notebooks_table" class="table table-striped">
    <thead>
      <tr><th>Id</th>
          <th>Code</th>
          <th>Title</th>
          <th>No-input</th>
          <th>Params</th>
          <th>Actions</th></tr>
    </thead>
    <tbody></tbody>
  </table>

  <nav id="notebooks_pagination" aria-label="Notebooks navigation"></nav>

</div>

<!-- NOTEBOOK UPLOAD MODAL -->
<div class="modal fade" id="notebook_upload_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="notebookUploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="notebookUploadModalLabel">Upload</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="notebook_code">Codigo</label>
            <input type="text" class="form-control" id="notebook_code" placeholder="codigo . . .">
          </div>
          <div class="form-group">
            <label for="notebook_title">Titulo</label>
            <input type="text" class="form-control" id="notebook_title" placeholder="titulo . . .">
          </div>
          <div class="form-group">
            <label for="notebook_params">Parametros</label>
            <textarea id="notebook_params" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group row">
            <label for="notebook_no_input" class="col-3 col-form-label">No-input</label>
            <div class="col-9">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="notebook_no_input" checked>
                <label class="custom-control-label" for="notebook_no_input"></label>
               </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="notebook_file" class="col-3 col-form-label">Notebook</label>
            <div class="col-9">
              <input type="file" class="form-control-file" id="notebook_file">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="set_notebook">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
function set_notebooks(rs){
  $("#notebooks_table > tbody").html($.map(rs['rows'], function(row){
    row[4] = '<pre>'+JSON.stringify(row[4], null, 2)+'</pre>';
    row.push('<a class="btn btn-success get" href="{{ url_for("notebooks.get_notebook", notebook_id='') }}'+row[0]+'" role="button">Ver</a>&nbsp;' +
             '<button type="button" class="btn btn-danger set">Borrar</button>');
    return '<tr data-id="'+row[0]+'"><td>' + row.join('</td><td>') + '</td></tr>';
  }).join(''));

  paginate($("#notebooks_pagination"), rs);
}

set_notebooks({{ data|safe }});

$("#notebooks_pagination").on("click", "a", function(ev){
  var pd = new FormData(),
      page = $(this).attr("href").replace(/#/, '');
  pd.append('page', page);
  request('{{ url_for("notebooks.paginate_notebooks") }}', pd, set_notebooks);
});

$("#notebooks_table > tbody").on("click", ".set",  function(ev){
  var conf=false;
  conf = confirm("Delete notebook?");
  if (conf){
    var pd = new FormData(),
        $tr = $(this).parents("tr"),
        page = $("#notebooks_pagination li.active a").attr("href");
    pd.append("action", "set_notebook");
    pd.append("id", $tr.data("id"));
    pd.append('page', page?page.replace(/#/, ''):1);
    request('{{ url_for("notebooks.set_notebook") }}', pd, set_notebooks);
  }
});

///////////////////////// MODAL //////////////////////
var notebook_file = '';

$('#notebook_upload_modal').on('shown.bs.modal', function(e){
  notebook_file = '';
  $("#notebook_file").val("");
});

$("#notebook_file").change(function(){
  $.blockUI();
  var file = this.files[0],
      reader = new FileReader();
  reader.onload = function(e) {
    notebook_file = reader.result;
    $.unblockUI();
  }
  reader.readAsText(file);
});

$("#set_notebook").on("click", function(e){
  var code = $.trim($("#notebook_code").val()),
      title = $.trim($("#notebook_title").val());
  if (code == '' || title == '') {
    alert("Error: el codigo o el titulo no pueden ser nulos!");
  } else if (notebook_file == '') {
    alert("Error: debe subir un notebook!");
  } else {
    var pd = new FormData(),
        page = $("#notebooks_pagination li.active a").attr("href");
    pd.append('id', '');
    pd.append('code', code);
    pd.append('title', title);
    pd.append('no_input', $("#notebook_no_input").prop('checked'));
    pd.append('params', $.trim($("#notebook_params").val()) || '{}');
    pd.append('notebook', notebook_file);
    pd.append('page', page?page.replace(/#/, ''):1);
    request('{{ url_for("notebooks.set_notebook") }}', pd, function(rs){
      alert('ingresado');
      set_notebooks(rs);
      $("#notebook_upload_modal").modal("hide");
    });
  }
});
</script>
{% endblock %}
