{% extends "base.html" %}
{% block title %}Notebook{% endblock %}
{% block body %}
<div id="notebook_div">

  <form method="POST" class="row buttons" id="notebook_form" enctype="multipart/form-data">
    <h2 class="col-auto">{{ title|safe }}</h2>
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    {% for key, val in params.items() %}
    <div class="col-auto form-group ms-1">
      <label for="{{ key }}">{{ key }}</label>
      {% if val.__class__.__name__ == 'list' %}{# isinstance(val, list) #}
        <select class="form-select param" id="{{ key }}" name="{{ key }}">
         {% for v in val %}
         <option {% if values[key] == v %} selected {% endif %}>{{ v }}</option>
         {% endfor %}
        </select>
      {% elif val in ('text', 'date', 'qrcode') %}
        {% if val == 'qrcode' %}
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" href="#qrcode_modal"><i class="fa fa-qrcode"></i></button>
          </div>
        {% endif %}
          <input type="text" class="form-control param {{ val }}" style="width:200px;" id="{{ key }}" name="{{ key }}" value="{{ values[key] }}" autocomplete="off">
        {% if val == 'qrcode' %}
        </div>
        {% endif %}
      {% elif val == 'file' %}
          <input type="file" class="sr-only" id="{{ key }}" name="{{ key }}" accept="image/*">
          <span class="docs-tooltip" data-bs-toggle="tooltip" title="Import image">
            <span class="fa fa-upload"></span>
          </span>
      {% elif val == 'check' %}
        <input type="checkbox" class="form-control param" id="{{ key }}" name="{{ key }}" {% if values[key] == 'on' %} checked {% endif %}>
      {% endif %}
    </div>
    {% endfor %}
    <div class="col-auto form-group ms-1">
      <button type="submit" class="btn btn-success">Ver</button>&nbsp;
      <!--button class="btn btn-primary" name="pdf">pdf</button-->
    </div>
  </form>

  {{ body|safe }}

</div>
{% endblock %}

{% block script %}
<script>
$("#notebook_print").click(function(){
  var $div = $("#notebook_div").clone(),
      $form = $div.find("#notebook_form"),
      params = $.map($form.find(".param"), function(p){
        var $input = $(p);
        return $input.attr('id')+': '+$input.val();
      }),
      title = $form.find('h2').text();
  $("ul.nav, #notebook_form", $div).remove();
  newTab({"title":'<h2 style="display:inline">'+title+'</h2>&nbsp;'+ params.join(", "),
          "content":$div.html()});
});

$("#notebook_form").on("submit", function(ev){ $.blockUI(); });

// PDF
/*
$("#notebook_form button[name='pdf']").click(function(){
  var pd = new FormData(),
      $inputs = $("#notebook_form").find("input[type=text]:visible, select:visible");
  $inputs.each(function(index){
    var $input = $(this);
    pd.append($input.attr('name'), $input.val());
  });
  request_pdf('{# url_for("notebooks.get_notebook_pdf", notebook_id=n_id) #}', pd, function(blob, filename){
    downloadPDF(blob, "notebook_{{ n_id }}.pdf");
  });
});
*/
</script>
{% endblock %}
