{% import "bootstrap_wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Cuenta{% endblock %}
{% block body %}
<div>
  <!--ul class="nav justify-content-end">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
      <div class="dropdown-menu dropdown-menu-end">
        {% for x in reports %}
        <a class="dropdown-item" href="{# url_for('pgvega.get_report', report_id=x['id']) #}">
          {{ x['title'] }}
        </a>
        {% endfor %}
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Notebooks</a>
      <div class="dropdown-menu dropdown-menu-end">
        {% for x in notebooks %}
        <a class="dropdown-item" href="{{ url_for('notebooks.get_notebook', notebook_id=x['id']) }}">
          {{ x['title'] }}
        </a>
        {% endfor %}
      </div>
    </li>
  </ul-->

  <h2>Cuenta</h2>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      {% include 'templates/worker.html' %}

    </div>
    <div class="col-md-2"></div>
  </div>

  <br>

  {# workermap.html #}

</div>
{% endblock %}

{% block script %}

{# workermap.js #}

{% endblock %}
