{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block body %}
  <div class="p-5" style="background:#e9ecef">
    <div class="container mt-5">
      <h1 class="display-2">Granja Libre</h1>
      <p>Es un Sofware Libre para el manejo Reproductivo y Productivo de una o muchas Granjas.  Se puede modificar los Parametros Reprodcutivos, Razas, causas de Muerte, entre otras variables, lo cual permite adaptar el programa a cualquier especie animal, por ejemplo: porcinos, bovinos, equinos, caprinos, ovinos, conejos o aves. Tambien se adapta segun el tipo de produccion: leche, carnicos o doble proposito.</p>
      <p>
        <a class="btn btn-success btn-lg" href="{{ url_for('workers.login', activity_url=activity_url) }}" role="button">Ingresar »</a>
      </p>
    </div>
  </div>

  <div class="container mt-5">

    <div class="row">
      <div class="col-md-4">
        <h2>Reproduccion</h2>
        <p>Desde el inicio esta pensado en el manejo de muchas granjas, en las cuales haya intercambio de genetica... de esta forma el arbol genealogico se mantiene sin importar en la granja que se encuentre el animal.  Se pueden evaluar mas de 50 parametros reproductivos, inventarios, datos medicos, entre otros.  La informacion se analiza mediante reportes o notebooks(permiten el uso de programas de inteligencia artificial).</p>
        <!--p><a class="btn btn-secondary" href="{# url_for('start.register', activity_url=activity_url) #}" role="button">Más información »</a></p-->
      </div>
      <div class="col-md-4">
        <h2>Produccion</h2>
        <p>Principalmente este modulo es para inventarios (animales y alimentos) y consumos.  Su interfaz grafica permite facilmente actualizar la informacion desde un celular.  Con los graficos se puede identificar rapidamente problemas u oportunidades de mejora.</p>
        <!--p><a class="btn btn-secondary" href="{# url_for('start.register', activity_url=activity_url) #}" role="button">Más información »</a></p-->
      </div>
      <div class="col-md-4">
        <h2>Software Libre</h2>
        <p>Es un programa realizado con Software Libre. Como base de datos: Postgresql, lenguaje de servidor: Python e interfaz de cliente: HTML5 (Javascript, HTML, CSS). Se puede descargar gratituamente en GitHub.</p>
        <p><a class="btn btn-secondary" href="https://github.com/wagnerc4/granjalibre" role="button">Descargar »</a></p>
      </div>
    </div>

  </div> <!-- /container -->
{% endblock %}
