{% import "bootstrap_wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Ingreso{% endblock %}
{% block body %}
<div class="container">
  <br/>
  <br/>
  <br/>

  <form action="" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Ingreso a cuenta</h1>
    {# form.csrf_token() #}
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    {{ wtf.form_field(form.email, class='form-control', placeholder='Email . . .', autocapitalize='off') }}
    {{ wtf.form_field(form.password, class='form-control', placeholder='Contraseña . . .') }}
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('workers.reset_password', activity_url=activity_url) }}">Olvidó Contraseña?</a>
      </li>
    </ul>
    <button type="submit" class="w-100 btn btn-lg btn-success">Ingreso</button>
    <!--a href="{# url_for('workers.register', activity_url=activity_url) #}" role="button" class="btn btn-outline-success w-100 mt-2">Crear Cuenta</a-->
  </form>

</div>
{% endblock %}
