{% import "bootstrap_wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block body %}
<div class="container">
  <br/>
  <div class="row">
    <div class="col-md-8">
      <br/>

      {% include 'templates/worker.html' %}

    </div>
    <div class="col-md-4">
      <!--br/>

      <h1>Como Funciona:</h1>
      <p>Con la aplicación web el productor podrá: ingresar productos, actualizar precios e inventario disponible, organizar los pedidos y consultar estadísticas sobre sus ventas.</p>
      <p>Primero la persona debe registrarse, luego ingresar sus productos, para una posterior revisión y aprobación por parte de Huerta CR. Asi los clientes podrán iniciar con el ingreso pedidos.</p>
      <p>Cuando se resive un pedido, el productor se pondrá en contacto con el cliente para acordar el pago (efectivo, transferencia, etc...) y la entrega de los articulos (se envian al cliente o se retiran en algun lugar establecido).</p-->

    </div>
  </div>
</div>
{% endblock %}
