{% import "bootstrap_wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Nueva Contraseña{% endblock %}
{% block body %}
<div class="container">
  <br/>
  <br/>
  <br/>

  <form action="" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Nueva Contraseña</h1>
    {# form.csrf_token() #}
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    {{ wtf.form_field(form.email, class='form-control', placeholder='Email . . .', autocapitalize='off') }}
    {{ xcaptcha }}
    <button type="submit" class="w-100 btn btn-lg btn-success">Enviar</button>
  </form>

</div>
{% endblock %}
