<form action="" method="post" class="form" role="form">
  {# form.csrf_token() #}
  <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  {{ wtf.form_field(form.worker, class='form-control', placeholder='Usuario . . .') }}
  <!--div class="row">
    <div class="form-group col-md-6">
      {# wtf.form_field(form.worker, class='form-control', placeholder='Usuario . . .') #}
    </div>
    <div class="form-group col-md-6">
      {# wtf.form_field(form.occupation, class='form-control') #}
    </div>
  </div-->
  <div class="row">
    <div class="form-group col-md-6">
    {{ wtf.form_field(form.email, class='form-control', placeholder='Email . . .', autocapitalize='off') }}
    </div>
    <div class="form-group col-md-6">
    {{ wtf.form_field(form.phone, class='form-control', placeholder='Teléfono . . .') }}
    </div>
  </div>
  {{ wtf.form_field(form.address, class='form-control', placeholder='Dirección . . .') }}
  <div class="row">
    <div class="form-group col-md-6">
    {{ wtf.form_field(form.lat, class='form-control', placeholder='Latitud . . .') }}
    </div>
    <div class="form-group col-md-6">
    {{ wtf.form_field(form.lon, class='form-control', placeholder='Longitud . . .') }}
    </div>
  </div>
  <div class="row mb-4">
    <button id="ubication_btn" class="btn btn-warning ms-3" onclick="showPosition();">Obtener ubicacion</button>
    <span id="ubication_result" class="ms-3"></span>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
    {{ wtf.form_field(form.password, class='form-control', placeholder='Clave . . .') }}
    </div>
    <div class="form-group col-md-6">
    {{ wtf.form_field(form.confirm_password, class='form-control', placeholder='Clave . . .') }}
    </div>
  </div>
  {% if not current_user.is_authenticated %}
    {{ xcaptcha }}
  {% endif %}
  <button type="submit" class="btn btn-success">Actualizar</button>
</form>
<script>
    var result;
    
    function showPosition() {
        // Store the element where the page displays the result
        result = document.getElementById("ubication_result");
        
        // If geolocation is available, try to get the visitor's position
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
            result.innerHTML = "Obteniendo la ubicacion...";
        } else {
            alert("Disculpe, su navegador no soporta HTML5 geolocalizacion.");
        }
    };
    
    // Define callback function for successful attempt
    function successCallback(position) {
        result.innerHTML = "Su ubicacion actual es: (" + "Latitud: " + position.coords.latitude + ", " + "Longitud: " + position.coords.longitude + ")";
        document.getElementById("lat").value = position.coords.latitude;
        document.getElementById("lon").value = position.coords.longitude;
    }
    
    // Define callback function for failed attempt
    function errorCallback(error) {
        if(error.code == 1) {
            result.innerHTML = "Su navegador no tiene permiso para compartir su ubicacion.";
        } else if(error.code == 2) {
            result.innerHTML = "Por favor intente de nuevo.";
            console.log("The network is down or the positioning service can't be reached.");
        } else if(error.code == 3) {
            result.innerHTML = "Por favor intente de nuevo.";
            console.log("The attempt timed out before it could get the location data.");
        } else {
            result.innerHTML = "Por favor intente de nuevo.";
            console.log("Geolocation failed due to unknown error.");
        }
    }
</script>
