{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block body %}
<div>

  <div class="row">
    <h2 class="col-auto">Usuarios</h2>
    <button type="button" class="col-auto btn btn-primary update_worker mx-2" data-bs-toggle="modal" href="#update_worker_modal" data-action="insert">Ingresar</button>
    <button type="button" class="col-auto btn btn-warning update_worker" data-bs-toggle="modal" href="#update_worker_modal" data-action="update">Actualizar</button>
  </div>

  <table id="workers_table" class="table table-striped">
    <thead>
      <tr><th>Id</th>
          <th>Persona</th>
          <th>Correo</th>
          <th>Phone</th>
          <th>Direccion</th>
          <th>lat</th>
          <th>lon</th>
          <th>admin</th>
          <th>Creado</th>
          <th>Logeado</th>
          <th>Bloqueado</th></tr>
    </thead>
    <tbody></tbody>
  </table>

  <nav id="workers_pagination" aria-label="Workers navigation"></nav>

</div>

<!-- WORKER MODAL -->
<div class="modal fade" id="update_worker_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="workerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">  <!-- modal-lg -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="workerModalLabel">Usario</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" name="id">
          <div class="form-group">
            <label for="worker">Usuario</label>
            <input type="text" class="form-control" id="worker" name="worker" placeholder="usuario . . .">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="email . . .">
          </div>
          <div class="form-group">
            <label for="phone">Telefono</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="telefono . . .">
          </div>
          <div class="form-group">
            <label for="password">Clave</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="clave . . .">
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="readonly" name="readonly">
            <label class="custom-control-label" for="readonly">Solo lectura</label>
          </div>
          <table id="access_table" width="100%">
            <caption><h4 style="color:black;"><input type="checkbox"> todos</h4></caption>
            <tbody><tr><td></td><td></td></tr></tbody>
          </table>
          <button type="submit" class="btn btn-success float-end">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
function set_workers(rs){
  $("#workers_table > tbody").html($.map(rs['rows'], function(row){
    row[7] = row[7]?'si':'no';
    return '<tr data-id="'+row[0]+'" data-access="'+row.pop()+'" data-readonly="'+row.pop()+'">' +
           '  <td>' + row.join('</td><td>') + '</td>' +
           '</tr>';
  }).join(''));

  paginate($("#workers_pagination"), rs);
}

set_workers({{ data|safe }});

$("#workers_pagination").on("click", "a", function(ev){
  var pd = new FormData(),
      page = $(this).attr("href").replace(/#/, '');
  pd.append('page', page);
  request('{{ url_for("workers.paginate_workers") }}', pd, set_workers);
});

////////////////////////////////////////////////////////////////////////
function set_access(rs){
  var views = [],
      last = '';
  for (var i=0; i<rs.length; i++) {
    var url = rs[i][1].split('^'),
        module = url.slice(-2, -1)[0];
    if (module != last) {
      views.push('<br /><strong>' + module + '</strong>');
      last = module;
    }
    views.push('<input type="checkbox" name="'+rs[i][0]+'">&nbsp;' + url.slice(-1));
  }
  $("#access_table td:eq(0)").html(views.slice(0, views.length/2).join('<br />'));
  $("#access_table td:eq(1)").html(views.slice(views.length/2).join('<br />'));
}

$("#access_table caption input").on("change", function(){
  var check = $(this).prop("checked");
  $("#access_table tbody input").each(function(){
    $(this).prop("checked", check);
  });
});

$("button.update_worker").on("click", function(event) {
  var $button = $(this),
      $modal = $($button.attr('href'));
  if ($button.data('action') == 'insert') {
    $modal.find("input").val("");
    $modal.find("input[name='readonly']").prop("checked", false);
  } else {
    var $trs = $.map($("#workers_table tbody tr.table-warning"), function(tr){ return $(tr); });
    if (!$trs.length || $trs.length > 1) {
      alert("Seleccione una linea!");
      return false;
    } else {
      $modal.data('access', $trs[0].data("access"));
      $modal.find("input[name='id']").val($trs[0].data("id"));
      $modal.find("input[name='worker']").val($trs[0].find("td:eq(1)").text());
      $modal.find("input[name='email']").val($trs[0].find("td:eq(2)").text());
      $modal.find("input[name='phone']").val($trs[0].find("td:eq(3)").text());
      $modal.find("input[type='password']").val("");
      $modal.find("input[name='readonly']").prop("checked", $trs[0].data("readonly"));
    }
  }
});

$('#update_worker_modal').on('shown.bs.modal', function (event) {
  var $modal = $(this),
      $button = $(event.relatedTarget);
  request('{{ url_for("workers.get_access") }}', new FormData(), function(rs){
    set_access(rs);
    if ($button.data('action') == 'update') {
      $("#access_table tbody input").each(function(){
        $(this).prop("checked", ($modal.data("access").indexOf($(this).attr("name")) > -1)?true:false);
      });
    }
  });
});

$("#update_worker_modal form").submit(function(){
  var pd = new FormData(this),
      page = $("#workers_pagination li.active a").attr("href"),
      access = $.map($("#access_table tbody input:checked"), function(item){
        return $(item).attr("name");
      });
  pd.append('page', page?page.replace(/#/, ''):1);
  pd.append('access', access.join(","));
  pd.append('readonly', $("input[name=readonly]").prop("checked"));
  request('{{ url_for("workers.set_worker") }}', pd, function(rs){
    $("#update_worker_modal").modal("hide");
    set_workers(rs);
  });
  return false;
});
</script>
{% endblock %}
