{% extends "base.html" %}
{% block title %}Parametros{% endblock %}
{% block body %}
<div>

  <br>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="variables-tab" data-bs-toggle="tab" href="#variables" role="tab" aria-controls="variables" aria-selected="true">Variables Especie</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="races-tab" data-bs-toggle="tab" href="#races" role="tab" aria-controls="races" aria-selected="false">Razas Especie</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="deaths-tab" data-bs-toggle="tab" href="#deaths" role="tab" aria-controls="deaths" aria-selected="false">Causas Salidas</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="variables" role="tabpanel" aria-labelledby="variables-tab">

      <br>
      <table class="table table-striped">
        <thead><tr><th>Variable</th><th>Valor</th><th></th></tr></thead>
        <tbody>
          <tr><td>D&iacute;as Gestacion <em>(valor inferior)</em></td>
              <td><input type="text" id="preg_min" size="4" /></td>
              <td><button class="btn btn-warning update_variable">actualizar</button></td></tr>
          <tr><td>D&iacute;as Gestacion <em>(valor normal)</em></td>
              <td><input type="text" id="preg" size="4" /></td></td>
              <td><button class="btn btn-warning update_variable">actualizar</button></td></tr>
          <tr><td>D&iacute;as Gestacion <em>(valor superior)</em></td>
              <td><input type="text" id="preg_max" size="4" /></td></td>
              <td><button class="btn btn-warning update_variable">actualizar</button></td></tr>
          <tr><td>D&iacute;as Parto-Servicio <em>(valor superior)</em></td>
              <td><input type="text" id="farr_serv" size="4" /></td></td>
              <td><button class="btn btn-warning update_variable">actualizar</button></td></tr>
          <tr><td>Temperatura Corporal <em>(valor normal)</em></td>
              <td><input type="text" id="temp" size="4" /></td></td>
              <td><button class="btn btn-warning update_variable">actualizar</button></td></tr>
          <tr><td>Temperatura Corporal <em>(valor superior)</em></td>
              <td><input type="text" id="temp_max" size="4" /></td></td>
              <td><button class="btn btn-warning update_variable">actualizar</button></td></tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane fade" id="races" role="tabpanel" aria-labelledby="races-tab">

      <br>
      <form action="#">
        <table class="table table-striped" width="100%">
          <thead>
            <tr><td>Raza</td><td>Activa</td><td>Acciones</td></tr>
            <tr>
              <td><input type="text" name="race" class="form-control" required="required" autocomplete="off" /></td>
              <td></td>
              <td><input type="submit" class="btn btn-primary" value="ingresar" /></td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </form>

    </div>
    <div class="tab-pane fade" id="deaths" role="tabpanel" aria-labelledby="deaths-tab">

      <br>
      <form action="#">
        <table class="table table-striped" width="100%">
          <thead>
            <tr><td>Causa</td><td>Tipo</td><td>Activa</td><td>Acciones</td></tr>
            <tr>
              <td><input type="text" name="death" class="form-control" required="required" autocomplete="off" /></td>
              <td><select name="type" class="form-select"><option value="adult">Adulto</option>
                                                           <option value="young">Joven</option></td>
              <td></td>
              <td><input type="submit" class="btn btn-primary" value="ingresar" /></td>
            </tr>
          </thead>
          <tbody></tbody>
         </table>
      </form>

    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script>
// VARIABLES
$("#variables-tab").click(function(){
  var pd = new FormData();
  pd.append("action", "select_variables");
  request('{{ url_for("breeding.get_breeding_parameters") }}', pd, function(rs){
    for (var k in rs) $("#"+rs[k][0]).val(rs[k][1]);
  });
});
$("#variables-tab").click();

$("#variables .update_variable").click(function(){
  var pd = new FormData(),
      $input = $(this).parents("tr").find("input[type=text]");
  pd.append("action", "update_variable");
  pd.append("var", $input.attr("id"));
  pd.append("val", $input.val());
  request('{{ url_for("breeding.set_breeding_parameters") }}', pd, function(rs){
    alert("Variable actualizada!");
  });
});


// RACES
function set_parameters_races(rs){
  $("#races table > tbody").html($.map(rs, function(row){
    return '<tr data-id="'+row[0]+'">' +
           '  <td>' + row.slice(1).join('</td><td>') + '</td>' +
           '  <td><button class="btn btn-danger update">actualizar</button></td>' +
           '</tr>';
  }).join(""));
}

$("#races-tab").click(function(){
  var pd = new FormData();
  pd.append("action", "select_races");
  request('{{ url_for("breeding.get_breeding_parameters") }}', pd, set_parameters_races);
});

$("#races > form").submit(function () {
  var pd = new FormData(this);
  pd.append("action", "insert_race");
  request('{{ url_for("breeding.set_breeding_parameters") }}', pd, set_parameters_races);
  return false;
});

$("#races table > tbody").on("click", "button.update", function(){
  var pd = new FormData(),
      $tr = $(this).parents("tr");
  pd.append("action", "update_race");
  pd.append("id", $tr.data("id"));
  request('{{ url_for("breeding.set_breeding_parameters") }}', pd, set_parameters_races);
  return false;
});


// DEATHS
var parametersDic = {
  "young": "joven",
  "adult": "adulto"
}

function set_parameters_deaths(rs){
  $("#deaths table > tbody").html($.map(rs, function(row){
    row[2] = parametersDic[row[2]];
    return '<tr data-id="'+row[0]+'">' +
           '  <td>' + row.slice(1).join('</td><td>') + '</td>' +
           '  <td><button class="btn btn-danger update">actualizar</button></td>' +
           '</tr>';
  }).join(""));
}

$("#deaths-tab").click(function(){
  var pd = new FormData();
  pd.append("action", "select_deaths");
  request('{{ url_for("breeding.get_breeding_parameters") }}', pd, set_parameters_deaths);
});

$("#deaths > form").submit(function () {
  var pd = new FormData(this);
  pd.append("action", "insert_death");
  request('{{ url_for("breeding.set_breeding_parameters") }}', pd, set_parameters_deaths);
  return false;
});

$("#deaths table > tbody").on("click", "button.update", function(){
  var pd = new FormData(),
      $tr = $(this).parents("tr");
  pd.append("action", "update_death");
  pd.append("id", $tr.data("id"));
  request('{{ url_for("breeding.set_breeding_parameters") }}', pd, set_parameters_deaths);
  return false;
});
</script>
{% endblock %}
