{% extends "base.html" %}
{% block title %}Reproduccion{% endblock %}
{% block body %}
<div><!-- id="forms_reproduction_events" -->
  <div class="row col-xl-3 col-lg-4 col-md-6 col-sm-8 col-xs-12">
      <div class="mb-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" href="#qrcode_modal"><i class="fa fa-qrcode"></i></button>
          </div>
          <input type="text" id="a_search" class="form-control" aria-label="Animal" aria-describedby="a_select" placeholder="animal . . ." autocomplete="off">
          <div class="input-group-append">
            <button class="btn btn-success" type="button" id="a_select"><i class="fa fa-check"></i></button>
            {% if url_for('breeding.set_animal') in current_user.access %}
            <button class="btn btn-outline-success" type="button" id="a_insert_btn"><i class="fa fa-plus"></i></button>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <strong>Animal: <span id="a_name"></span></strong>
      <button class="btn btn-outline-primary" type="button" id="a_graph"><i class="fa fa-bar-chart"></i></i></button>
      <button class="btn btn-outline-primary" type="button" id="a_name_qrcode_btn"><i class="fa fa-qrcode"></i></button>
      <br />
      {% if url_for('breeding.set_animal_eartag') in current_user.access %}
      <strong>Arete: <span id="a_eartag"></span></strong>
      <button class="btn btn-outline-primary btn-sm" type="button" id="a_eartag_btn">actualizar</button>
      <!--div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
        <button class="btn btn-outline-primary" type="button" id="a_eartag_update_btn"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-outline-primary" type="button" id="a_eartag_print_btn"><i class="fa fa-print"></i></button>
      </div-->
      {% endif %}
      {% if url_for('breeding.set_semen') in current_user.access %}
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" id="a_semen_in" href="#">Ingreso semen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="a_semen_out" href="#">Salida semen</a>
        </li>
      </ul>
      {% endif %}

      {% if url_for('breeding.set_animal_event') in current_user.access %}
      <p style="margin-top:10px;"><strong>Eventos:</strong></p>
      <!--a href="#a_events_variables">variables</a> |
      <a href="#a_events_constants">constantes</a> |
      <a href="#a_events_all">todos</a-->
      <div id="a_events" style="margin-left:25px;"></div>
      {% endif %}
    </div>
    <div id="a_history" class="col-md-8">
      <strong>Historia:</strong>
      <table class="table table-striped">
        <thead>
          <tr><th width="100">Paridad</th>
              <th width="100">Fecha</th>
              <th width="50">Dias</th>
              <th width="120">Evento</th>
              <th width="250">Datos</th></tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<!-- GRAPH MODAL -->
<!--div id="animal_graph_modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="animalGraphModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="animalGraphModalLabel"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <svg width="860" height="500"></svg>
      </div>
    </div>
  </div>
</div-->
{% endblock %}

{# include("templates/breeding_events.html") included in base #}

{% block script %}
<script>
$("#a_search").val('{{ animal }}');

////////////////// PARAMETERS ////////////////
var races = {{ races|safe }};
for (var k in races) {
  if (races[k][2] > 0) {
    $("#racesList").append("<option>"+races[k][1]+"</option>");
  }
}

var deaths = {{ deaths|safe }};
for (var k in deaths) {
  if (deaths[k][3] > 0) {
    if (deaths[k][2] == "adult") {
      $("#adultdeathsList").append("<option>"+deaths[k][1]+"</option>");
    } else {
      $("#youngdeathsList").append("<option>"+deaths[k][1]+"</option>");
    }
  }
}

////////////////// ANIMALS ////////////////
$(".farm_search").typeahead({
  source: function(query, process) {
    var pd = new FormData();
    pd.append("action", "getFarmActivity");
    pd.append("val", query);
    request('{{ url_for("breeding.get_activity") }}', pd, process);
  }
});

$("#a_search").typeahead({
  source: function(query, process) {
    var pd = new FormData();
    pd.append("val", query);
    request('{{ url_for("breeding.get_animal") }}', pd, process);
  },
  updater: function(item){
    $("#a_search").data("eartag", item.eartag);
    return item;
  }
});

$("#male_search").typeahead({
  source: function(query, process) {
    var pd = new FormData();
    pd.append("action", "getMale");
    pd.append("val", query);
    request('{{ url_for("breeding.get_animal_male") }}', pd, process);
  }
});

$(".adoption_search").typeahead({
  source: function(query, process) {
    var pd = new FormData();
    pd.append("action", "getFemaleAdoptive");
    pd.append("val", query);
    request('{{ url_for("breeding.get_animal_adoptive") }}', pd, process);
  }
});


/////////////////////////////////////////////////////
$("#a_litter").next().click(function(e, ui) {
  var pd = new FormData();
  pd.append("farm_search", $("#a_litter").prevAll("input[type=text]").val());
  pd.append("litter", $("#a_litter").val());
  request('{{ url_for("breeding.get_animal_litter") }}', pd, function(rs){
    var $a_birth = $("#racesList").prevAll("input[name=a_birth]");
    if (rs) {
      $a_birth.val(new Date(rs[0] * 1000).toSql());
      $("#racesList").val(rs[1]);
    } else {
      $a_birth.val("");
    }
  });
});

$("#a_insert_btn").click(function(){
  request('{{ url_for("breeding.get_animal_olds") }}', new FormData(), function(rs){
    var txt=[];
    for (var k in rs) {
      txt.push("<a href='#' class='animal_old'>" +
               "<span style='display:none'>" + rs[k][0] + "</span>" +
                rs[k][1] + " -> " + rs[k][2] +"</a>");
    }
    $("#animals_old").html(txt.join("<br>"));
    var $modal = $("#animal_events_modal");
    $modal.data("action", "a_insert");
    $modal.find("div.modal-header h3").text("Ingresar Animal");
    $modal.find("div.modal-body div").hide();
    $("#a_insert").show();
    $modal.modal("show");
  });
});

$("#animals_old").on("click", "a.animal_old", function(){
  $("#animal_events_modal").modal("hide");
  var pd = new FormData(), id = $(this).find("span").text();
  pd.append("action", "insert_old");
  pd.append("id", id);
  $("#a_search").val($(this).text().replace(id, '').replace(/\s->.+/, ''));
  request('{{ url_for("breeding.set_animal") }}', pd, function(rs){ alert("Animal ingresado!"); });
});

/////////////////////////// QRCODE //////////////////////////
$("#a_name_qrcode_btn").click(function(){
  print_qrcode($("#a_name").text());
});

/////////////////////////// EARTAG //////////////////////////
$("#a_eartag_btn").click(function(){
  var pd = new FormData(),
      data = prompt("Actualizar Arete:", $("#a_eartag").text());
  pd.append("animal", $("#a_name").text());
  pd.append("a_eartag", data);
  request('{{ url_for("breeding.set_animal_eartag") }}', pd, function(rs){
    $("#a_search").data("eartag", data);
    $("#a_eartag").text(data);
  });
});

/////////////////////////// SEMEN //////////////////////////
$("#a_semen_in").click(function(){
  var pd = new FormData();
  pd.append("action", "animals");
  request('{{ url_for("breeding.get_semen") }}', pd, function(rs){
    var txt=[];
    for (var k in rs) {
      txt.push("<a href='#' class='animal_semen'>" +
               "<span style='display:none'>" + rs[k][0] + "</span>" +
                rs[k][1] + " -> " + rs[k][2] +"</a>");
    }
    $("#animals_semen").html(txt.join("<br>"));
    var $modal = $("#animal_events_modal");
    $modal.find("div.modal-header h3").text("Ingresar Semen");
    $modal.find("div.modal-body div").hide();
    $("#a_insert_semen").show();
    $modal.modal("show");
  });
});

$("#animals_semen").on("click", "a.animal_semen", function(){
  $("#animal_events_modal").modal("hide");
  var pd = new FormData(),
      id = $(this).find("span").text();
  pd.append("action", "insert_semen");
  pd.append("id", id);
  pd.append("ts", $("#a_insert_semen_ts").val());
  $("#a_search").val($(this).text().replace(id, '').replace(/\s->.+/, ''));
  request('{{ url_for("breeding.set_semen") }}', pd, function(rs){ alert("Semen ingresado!"); });
});

$("#a_semen_out").click(function(){
  var pd = new FormData();
  pd.append("action", "farms");
  pd.append("animal", $("#a_name").text());
  request('{{ url_for("breeding.get_semen") }}', pd, function(rs){
    $("#semen_farms").html(rs.map(function(v){ return v[0]; }).join("<br>"));
    var $modal = $("#animal_events_modal");
    $modal.find("div.modal-header h3").text("Semen");
    $modal.find("div.modal-body div").hide();
    $("#a_semen").show();
    $modal.modal("show");
  });
});

$("#semen_status").click(function(){
  $("#animal_events_modal").modal("hide");
  var pd = new FormData();
  pd.append("action", "toggle_status");
  pd.append("animal", $("#a_name").text());
  request('{{ url_for("breeding.set_semen") }}', pd, function(rs){ alert("Estado modificado!"); });
});

////////////////// EVENTS ////////////////
var ev_constant = [], ev_variable = [];

function setRules(rules){
  var txt = [];
  for (var k in rules) {
    txt.push("<p><a href='#" + rules[k] + "' class='ev_insert'>");
    txt.push("Ingresar " + eventsDic[rules[k]]["name"] + "</a></p>");
  }
  if (ev_constant.length) {
    txt.push("<p><a href='#' class='ev_constant_delete'>");
    txt.push("Borrar " + eventsDic[ev_constant[ev_constant.length - 1][1]]["name"] + "</a></p>");
  }
  if (ev_variable.length) {
    txt.push("<p><a href='#' class='ev_variable_delete'>");
    txt.push("Borrar " + eventsDic[ev_variable[ev_variable.length - 1][1]]["name"] + "</a></p>");
  }
  $("#a_events").html(txt.join(""));
}

$("#a_select").click(function(){
  var pd = new FormData(),
      animal = $("#a_search").val().replace(/\s->.+/, '');
  pd.append("all", "true");
  pd.append("animal", animal);
  $("#a_name").text(animal);
  $("#a_eartag").text($("#a_search").data("eartag"));
  $("#side_menu a").each(function(index){
    var href = $(this).attr('href');
    $(this).attr('href', href.replace(/\?.+$/, '')+'?v='+animal);
  });
  request('{{ url_for("breeding.get_animal_history") }}', pd, function(rs){
    ev_constant = rs["ev_constant"];
    ev_variable = rs["ev_variable"];
    setRules((rs["rules"] && rs["rules"]!="ev_")?rs["rules"].split("|"):[]);
    setHistory($("#a_history > table"), ev_variable);
  });
});

$("#a_events").on("click", ".ev_insert", function(e){
  var href = $(this).attr("href"),
      title = $(e.target).text(),
      $modal = $("#animal_events_modal");
  $modal.data("action", href.replace(/#/, ''));
  $modal.data("animal", $("#a_name").text());
  $modal.find("div.modal-header h3").text(title);
  $modal.find("div.modal-body div:not(.input-group, .input-group-prepend, .dropdown-menu)").hide();
  $(href).show();
  $modal.modal("show");
});

$("#a_events").on("click", ".ev_constant_delete, .ev_variable_delete", function(){
  var conf = confirm("Desea Borrar el Ultimo Evento?");
  if (conf){
    var pd = new FormData(), ev_class = $(this).attr("class");
    pd.append("animal", $("#a_name").text());
    if (ev_class == "ev_constant_delete") {
      pd.append("id", ev_constant[ev_constant.length-1][0]);
    } else {
      pd.append("id", ev_variable[ev_variable.length-1][0]);
    }
    request('{{ url_for("breeding.set_animal_event_delete") }}', pd, function(rs){
      if (ev_class == "ev_constant_delete") {
        ev_constant.splice(ev_constant.length-1, 1);
        //  setGraph();
      } else {
        ev_variable.splice(ev_variable.length-1, 1);
        setHistory($("#a_history > table"), ev_variable);
      }
      setRules(rs["rules"]?rs["rules"].split("|"):[]);
    });
  }
});

$(document).ready(function(){
  // OVERWRITE breeding_events.html

  $("#animal_events_modal form").off().submit(function(){
    var pd = new FormData(this),
        $modal = $("#animal_events_modal");
    pd.append("action", $modal.data("action"));
    if ($modal.data("action") == "a_insert") {
      var animal = this.a_name.value;
      request('{{ url_for("breeding.set_animal") }}', pd, function(rs){
        $modal.modal("hide");
        $("#a_search").val(animal);
      });
    } else {
      pd.append("animal", $modal.data("animal"));
      request('{{ url_for("breeding.set_animal_event") }}', pd, function(rs){
        $modal.modal("hide");
        if ($modal.find("form").attr("class") == "ev_constant") {
          ev_constant.push(rs["ev_constant"]);
          // setGraph(ev_constant);
        } else {
          ev_variable.push(rs["ev_variable"]);
          setHistory($("#a_history > table"), ev_variable);
        }
        setRules((rs["rules"]!="ev_")?rs["rules"].split("|"):[]);
      });
    }
    return false;
  });

  // $("#animal_events_modal div.modal-footer button").off().click(function() {
  //   $("#" + $("#animal_events_modal").data("action") + " form").submit();
  // });

});

////////////////// GRAPH ////////////////
/*
$("a[href$='a_graph']").click(function(){
  //var d1 = date.setHours(0, 0, 0, 0), d2 = d1 + 86400000;
  //var pd = [{"name": "action", "value": "get_temperatures"},
  //          {"name": "d1", "value": d1/1000},
  //          {"name": "d2", "value": d2/1000}];
  var pd = new FormData();
  pd.append("action", "get_temperatures");
  pd.append("animal", $("#a_name").text());
  request(db_url, pd, function(rs){
    var data=[], temperature=0, milk=0;
    for (var k in rs) {
      temperature = rs[k][1] || temperature;
      milk = rs[k][2] || milk;
      data.push([rs[k][0], temperature, milk, rs[k][3]]);
    }

    $("#animal_graph_modal svg").empty();

    if (data.length) setGraph("#animal_graph_modal", data);

    var $modal = $("#animal_graph_modal");
    $modal.find("div.modal-header h3").text("Grafico");
    $modal.modal("show");

  });
});

function setGraph(id, data){
  var svg = d3.select(id + " svg"),
      margin = {top: 10, right: 40, bottom: 100, left: 40},
      margin2 = {top: 430, right: 10, bottom: 20, left: 40},
      width = +svg.attr("width") - margin.left - margin.right,
      height = +svg.attr("height") - margin.top - margin.bottom,
      height2 = +svg.attr("height") - margin2.top - margin2.bottom;

  var x = d3.scaleTime().range([0, width]),
      y0 = d3.scaleLinear().range([height, 0]),
      y1 = d3.scaleLinear().range([height, 0]),
      xx = d3.scaleTime().range([0, width]),
      yy0 = d3.scaleLinear().range([height2, 0]),
      yy1 = d3.scaleLinear().range([height2, 0]);

  x.domain(d3.extent(data, function(d) { return d[0]; }));
  y0.domain([0, d3.max([data], function(d) { return d3.max(d, function(c) { return c[1]; }); })]);
  y1.domain([0, d3.max([data], function(d) { return d3.max(d, function(c) { return c[2]; }); })]);
  xx.domain(x.domain());
  yy0.domain(y0.domain());
  yy1.domain(y1.domain());

  var xAxis = d3.axisBottom(x),
      xAxis2 = d3.axisBottom(xx),
      yAxisLeft = d3.axisLeft(y0),
      yAxisRight = d3.axisRight(y1);

  var brush = d3.brushX()
      .extent([[0, 0], [width, height2]])
      .on("brush end", brushed);

  var zoom = d3.zoom()
      .scaleExtent([1, Infinity])
      .translateExtent([[0, 0], [width, height]])
      .extent([[0, 0], [width, height]])
      .on("zoom", zoomed);

  var line0 = d3.line()
        .x(function(d) { return x(d[0]); })
	.y(function(d) { return y0(d[1]); }),
      line1 = d3.line()
        .x(function(d) { return x(d[0]); })
        .y(function(d) { return y1(d[2]); }),
      line2 = d3.line()
        .x(function(d) { return xx(d[0]); })
	.y(function(d) { return yy0(d[1]); }),
      line3 = d3.line()
        .x(function(d) { return xx(d[0]); })
        .y(function(d) { return yy1(d[2]); });

  svg.append("defs").append("clipPath")
     .attr("id", "clip")
     .append("rect")
     .attr("width", width)
     .attr("height", width);

  var focus_layer = svg.selectAll(".focus")
      .data([data]).enter()
      .append("g")
      .attr("class", "focus")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var labels = data.map(function(row){
    if (row[3]) return [row[0], row[3]];
  }).filter(function(x){ if (x) return true; });

  var labels_layer = svg.selectAll(".label")
      .data([labels]).enter()
      .append("g")
      .attr("class", "label")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var context_layer = svg.selectAll(".context")
      .data([data]).enter()
      .append("g")
      .attr("class", "context")
      .attr("transform", "translate("+ margin2.left +","+ margin2.top +")");

  focus_layer.append("path")
             .attr("class", "line0")
             .attr("d", function(d) { return line0(d); });

  focus_layer.append("path")
             .attr("class", "line1")
             .attr("d", function(d) { return line1(d); });

  focus_layer.append("g")
             .attr("class", "x axis")
             .attr("transform", "translate(0, " + height + ")")
             .call(xAxis);

  focus_layer.append("g")
             .attr("class", "y axis")
             .style("fill", "red")
             .call(yAxisLeft)
             .append("text")
             .attr("transform", "rotate(-90) translate(-150, -25)")
             .text("Temperatura (Cº)");

  focus_layer.append("g")
             .attr("class", "y axis")
             .attr("transform", "translate(" + width + ", 0)")
             .style("fill", "steelblue")
             .call(yAxisRight)
             .append("text")
             .attr("transform", "rotate(-90) translate(-150, 25)")
             .text("Leche (Kg)");

  labels_layer.selectAll(".xline")
              .data(function(d) { return d; }).enter()
              .append("line")
              .attr("class", "xline")
              .attr("x1", function(d) { return x(d[0]); })
              .attr("x2", function(d) { return x(d[0]); })
              .attr("y1", 0)
              .attr("y2", height);

  labels_layer.selectAll(".xtext")
              .data(function(d) { return d; }).enter()
              .append("text")
              .attr("class", "xtext")
              .attr("transform", "rotate(-90) translate(-250, 10)")
              .attr("y", function(d) { return x(d[0]); })
              .text(function(d) { return d[1]; });

  context_layer.append("path")
               .attr("class", "line0")
               .attr("d", function(d) { return line2(d); });

  context_layer.append("path")
               .attr("class", "line1")
               .attr("d", function(d) { return line3(d); });

  context_layer.append("g")
               .attr("class", "x axis")
               .attr("transform", "translate(0," + height2 + ")")
               .call(xAxis2);

//  context_layer.append("g")
//               .attr("class", "x brush")
//               .call(brush)
//               .selectAll("rect")
//               .attr("y", -6)
//               .attr("height", height2 + 7);

  context_layer.append("g")
      .attr("class", "brush")
      .call(brush)
      .call(brush.move, x.range());

  svg.append("rect")
      .attr("class", "zoom")
      .attr("width", width)
      .attr("height", height)
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .call(zoom);

  function brushed() {
    if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return;
    var s = d3.event.selection || xx.range();
    x.domain(s.map(xx.invert, xx));
    focus_layer.select("path.line0")
               .attr("clip-path", "url(#clip)")
               .attr("d", function(d) { return line0(d); });
    focus_layer.select("path.line1")
               .attr("clip-path", "url(#clip)")
               .attr("d", function(d) { return line1(d); });
    focus_layer.select(".x.axis").call(xAxis)
               .attr("clip-path", "url(#clip)");
    labels_layer.selectAll(".xline")
                .attr("clip-path", "url(#clip)")
                .attr("x1", function(d) { return x(d[0]); })
                .attr("x2", function(d) { return x(d[0]); });
    labels_layer.selectAll(".xtext")
                .attr("clip-path", "url(#clip)")
                .attr("y", function(d) { return x(d[0]); });
    svg.select(".zoom").call(zoom.transform, d3.zoomIdentity.scale(width / (s[1] - s[0]))
       .translate(-s[0], 0));
  }

  function zoomed() {
    if (d3.event.sourceEvent && d3.event.sourceEvent.type === "brush") return;
    var t = d3.event.transform;
    x.domain(t.rescaleX(xx).domain());
    focus_layer.select("path.line0")
               .attr("clip-path", "url(#clip)")
               .attr("d", function(d) { return line0(d); });
    focus_layer.select("path.line1")
               .attr("clip-path", "url(#clip)")
               .attr("d", function(d) { return line1(d); });
    focus_layer.select(".x.axis").call(xAxis)
               .attr("clip-path", "url(#clip)");
    labels_layer.selectAll(".xline")
                .attr("clip-path", "url(#clip)")
                .attr("x1", function(d) { return x(d[0]); })
                .attr("x2", function(d) { return x(d[0]); });
    labels_layer.selectAll(".xtext")
                .attr("clip-path", "url(#clip)")
                .attr("y", function(d) { return x(d[0]); });
    context_layer.select(".brush").call(brush.move, x.range().map(t.invertX, t));
  }
}
*/
</script>
{% endblock %}
