<!-- ANIMAL HISTORY MODAL -->
<div id="history_modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="animalHistoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="animalHistoryModalLabel"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <select class="form-select"></select>
          </div>
          <div class="col-md-6">
            <a class="btn btn-outline-primary" href="{{ url_for('breeding.breeding_handler') }}">eventos</a>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr><th width="100">Paridad</th>
                <th width="100">Fecha</th>
                <th width="50">Dias</th>
                <th width="120">Evento</th>
                <th width="250">Datos</th></tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!--div class="modal-footer">
        <button class="btn btn-info">imprimir</button>
      </div-->
    </div>
  </div>
</div>

<!-- ANIMAL EVENTS MODAL -->
<div id="animal_events_modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="animalEventsModalLabel" aria-hidden="true"><!-- style="z-index:1500" -->
  <div class="modal-dialog" role="document"><!-- modal-lg -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="animalEventsModalLabel">Eventos<span></span></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="min-height:260px;">

<!-------------------- INSERT ANIMAL -------------------->

  <div id="a_insert" style="display:none;">
    <strong>Ingresar Animal sin Historia:</strong>
    <form action="#">
      <input type="text" name="a_entry" class="form-control date" placeholder="ingreso . . ." size="25" /><br />
      <input type="text" name="a_name" class="form-control" placeholder="nombre . . ." />
      <input type="text" name="a_pedigree" class="form-control" placeholder="pedigree . . ." /><br />
      <input type="text" name="farm_search" class="form-control farm_search" placeholder="granja camada . . ." autocomplete="off" />
      <input type="text" id="a_litter" name="a_litter" class="form-control" placeholder="camada . . ." />
      <input type="button" class="btn btn-primary" value="validar camada" /><br />
      <input type="text" name="a_birth" class="form-control date" placeholder="parto . . ." size="25" />
      <label for="racesList">razas</label>
      <select id="racesList" name="a_race" class="form-select"></select><br />
      <label for="sex1">macho</label>
      <input type="radio" id="sex1" name="a_sex" value="male" />
      <label for="sex2">hembra</label>
      <input type="radio" id="sex2" name="a_sex" value="female" checked="checked" />
    </form><br />
    <strong>Ingresar Animales con Historia:</strong>
    <p id="animals_old" style="margin-left:25px;"></p>
  </div>
  <!-------------------- INSERT SEMEN -------------------->
  <div id="a_insert_semen" style="display:none;">
    <strong>Ingresar Semen</strong>
    <input type="text" id="a_insert_semen_ts" class="form-control date" placeholder="ingreso . . ." size="25" /><br />
    Animales:
    <p id="animals_semen" style="margin-left:25px;"></p>
  </div>
  <!------------------- ANIMAL GENEALOGY ------------------------>
  <!--div id="a_genealogy"></div-->
  <!------------------- ANIMAL CONSTANT EVENTS ------------------------>
  <!--div id="a_graph">
    <strong>Tiempo:</strong>
    <a href="">1 mes</a>, 
    <a href="">1 año</a>, 
    <a href="">todo</a>
  </div-->
  <!-------------------- SEMEN -------------------->
  <div id="a_semen" style="display:none;">
    <strong>Semen</strong>
    <a href="#" id="semen_status">modificar estado (disponible para otras granjas)</a>
    <br /><br />
    Granjas con semen disponible:
    <p id="semen_farms" style="margin-left:25px;"></p>
  </div>
  <!------------------- EVENTS FORMS ------------------------>
  <div id="ev_sale_semen" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Salida Semen</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." />
    </form>
  </div>
  <div id="ev_sale" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Salida</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." />
      <select id="adultdeathsList" name="death" class="form-select"></select><br />
      <input type="text" name="farm_search" class="form-control farm_search" placeholder="granja (opcional) . . ." autocomplete="off" />
    </form>
  </div>
  <!------------ REPRODUCTIVE FORMS --------------->
  <div id="ev_heat" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Celo Sin Servicio</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." />
      <select name="lordosis" class="form-select"><option>lordosis</option>
                              <option>1</option><option>2</option>
                              <option>3</option><option>4</option>
                              <option>5</option></select><br />
    </form>
  </div>
  <div id="ev_service" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Servicio</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <input type="text" id="male_search" name="male" class="form-control" placeholder="macho . . ." autocomplete="off" /><br />
      <input type="text" name="matings" class="form-control" placeholder="cubriciones . . ." />
      <select name="lordosis" class="form-select"><option>lordosis</option>
                              <option>1</option><option>2</option>
                              <option>3</option><option>4</option>
                              <option>5</option></select>
      <select name="quality" class="form-select"><option>calidad</option>
                             <option>1</option><option>2</option>
                             <option>3</option><option>4</option>
                             <option>5</option></select><br />
      <br />
    </form>
  </div>
  <div id="ev_check_pos" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Diagnostico +</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." />
      <select name="test" class="form-select"><option>metodo</option>
                          <option value="us">ultra-sonido</option>
                          <option value="px">palpacion</option>
                          <option value="vs">visual</option></select><br />
      <textarea name="note" class="form-control" cols="35" rows="5" placeholder="nota . . ."></textarea><br />
    </form>
  </div>
  <div id="ev_check_neg" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Diagnostico -</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." />
      <select name="test" class="form-select"><option>metodo</option>
                          <option value="us">ultra-sonido</option>
                          <option value="px">palpacion</option>
                          <option value="vs">visual</option>
                          <option value="ht">celo</option></select><br />
      <textarea name="note" class="form-control" cols="35" rows="5" placeholder="nota . . ."></textarea><br />
    </form>
  </div>
  <div id="ev_abortion" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Aborto</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." />
      <label for="abortionInduction">Inducido</label>
      <input type="checkbox" id="abortionInduction" name="inducted" /><br />
    </form>
  </div>
  <div id="ev_farrow" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Parto</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <input type="text" name="litter" class="form-control" placeholder="camada . . ." size="7" />
      <input type="text" name="males" class="form-control" placeholder="machos . . ." size="7" />
      <input type="text" name="females" class="form-control" placeholder="hembras . . ." size="7" />
      <input type="text" name="weight" class="form-control" placeholder="peso . . ." size="7" /><br />
      <input type="text" name="deaths" class="form-control" placeholder="muertos . . ." size="7" />
      <input type="text" name="mummies" class="form-control" placeholder="momias . . ." size="7" />
      <input type="text" name="hernias" class="form-control" placeholder="hernias . . ." size="7" />
      <input type="text" name="cryptorchids" class="form-control" placeholder="criptorquideos . . ." size="7" /><br />
      <label for="farrowDystocia">distocia</label>
      <input type="checkbox" id="farrowDystocia" name="dystocia" />
      <label for="farrowRetention">retencion</label>
      <input type="checkbox" id="farrowRetention" name="retention" />
      <label for="farrowInduction">inducido</label>
      <input type="checkbox" id="farrowInduction" name="inducted" />
      <label for="farrowAsisted">asistido</label>
      <input type="checkbox" id="farrowAsisted" name="asisted" /><br />
    </form>
  </div>
  <div id="ev_death" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Baja</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <select id="youngdeathsList" name="death" class="form-select"></select>
      <input type="text" name="animals" class="form-control" placeholder="animales . . ." size="7" /><br />
    </form>
  </div>
  <div id="ev_foster" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Adopcion -</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <input type="text" name="mother" class="form-control adoption_search" placeholder="hacia . . ." autocomplete="off"/>
      <input type="text" name="animals" class="form-control" placeholder="animales . . ." size="7" />
      <input type="text" name="weight" class="form-control" placeholder="peso . . ." size="5" /><br />
    </form>
  </div>
  <div id="ev_adoption" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Adopcion +</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <input type="text" name="mother" class="form-control adoption_search" placeholder="desde . . ." autocomplete="off"/>
      <input type="text" name="animals" class="form-control" placeholder="animales . . ." size="7" />
      <input type="text" name="weight" class="form-control" placeholder="peso . . ." size="5" /><br />
    </form>
  </div>
  <div id="ev_partial_wean" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Destete Parcial</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <input type="text" name="animals" class="form-control" placeholder="animales . . ." size="7" />
      <input type="text" name="weight" class="form-control" placeholder="peso . . ." size="5" /><br />
    </form>
  </div>
  <div id="ev_wean" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Destete</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <input type="text" name="animals" class="form-control" placeholder="animales . . ." size="7" />
      <input type="text" name="weight" class="form-control" placeholder="peso . . ." size="5" /><br />
    </form>
  </div>
  <div id="ev_semen" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Estraccion</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <input type="text" name="volumen" class="form-control" placeholder="volumen . . ." />
      <input type="text" name="concentration" class="form-control" placeholder="concentracion . . ." /><br />
      <select name="motility" class="form-select"><option>motilidad</option>
                              <option>1</option><option>2</option>
                              <option>3</option><option>4</option>
                              <option>5</option></select>
      <!--label for="semenGrumos">grumos</label><br />
      <input type="checkbox" id="semenGrumos" name="grumos" /-->
      <input type="text" name="dosis" class="form-control" placeholder="dosis . . ." />
    </form>
  </div>
  <!-------------------------------------------------------------->
  <div id="ev_ubication" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Ubicacion</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." />
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-qrcode"></i></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-bs-toggle="modal" href="#qrcode_modal">Escanear</a>
            <a class="dropdown-item qrcode_print" href="#">Imprimir</a>
          </div>
        </div>
        <input type="text" name="ubication" class="form-control" placeholder="ubicacion . . ." autocomplete="off">
      </div>
    </form>
  </div>
  <div id="ev_feed" style="display:none;">
    <form action="#" class="ev_constant" data-animal="">
      <strong>Alimentacion</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." />
      <input type="text" name="weight" class="form-control" placeholder="peso . . ." size="5" /><br />
    </form>
  </div>
  <div id="ev_condition" style="display:none;">
    <form action="#" class="ev_constant" data-animal="">
      <strong>Condicion</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <select name="condition" class="form-select"><option>condicion</option>
                               <option>1</option><option>1.5</option>
                               <option>2</option><option>2.5</option>
                               <option>3</option><option>3.5</option>
                               <option>4</option><option>4.5</option>
                               <option>5</option></select>
      <input type="text" name="weight" class="form-control" placeholder="peso . . ." size="5" />
      <input type="text" name="backfat" class="form-control" placeholder="grasa . . ." size="5" /><br />
    </form>
  </div>
  <div id="ev_milk" style="display:none;">
    <form action="#" class="ev_constant" data-animal="">
      <strong>Leche</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <input type="text" name="weight" class="form-control" placeholder="peso . . ." size="5" />
      <select name="quality" class="form-select"><option>calidad</option>
                             <option>1</option><option>2</option>
                             <option>3</option><option>4</option>
                             <option>5</option></select><br />
    </form>
  </div>
  <div id="ev_dry" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Secado</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
    </form>
  </div>
  <div id="ev_temperature" style="display:none;">
    <form action="#" class="ev_constant" data-animal="">
      <strong>Temperatura</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." />
      <input type="text" name="temperature" class="form-control" placeholder="grados . . ." size="5" /><br />
    </form>
  </div>
  <div id="ev_treatment" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Tratamiento</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-qrcode"></i></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-bs-toggle="modal" href="#qrcode_modal">Escanear</a>
            <a class="dropdown-item qrcode_print" href="#">Imprimir</a>
          </div>
        </div>
        <input type="text" name="treatment" class="form-control" placeholder="medicamento . . ." autocomplete="off">
      </div>
      <input type="text" name="dose" class="form-control" placeholder="dosis (ml,mg,g,ui)/kg . . ." /><br />
      <select name="frecuency" class="form-select"><option>frecuencia (horas)</option>
                               <option>6</option><option>8</option>
                               <option>12</option><option>24</option>
                               <option>48</option><option>72</option></select>
      <input type="text" name="days" class="form-control" placeholder="dias . . ." size="3" />
      <select name="route" class="form-select"><option>ruta</option>
                               <option value="im">im (intramuscular)</option>
                               <option value="iv">iv (intravenoso)</option>
                               <option value="ip">ip (intraperitoneal)</option>
                               <option value="sc">sc (subcutaneo)</option>
                               <option value="vd">vd (digestiva)</option>
                               <option value="vr">vr (respiratoria)</option>
                               <option value="vt">vt (topica)</option></select><br />
      <textarea name="note" class="form-control" cols="35" rows="5" placeholder="nota . . ."></textarea><br />
    </form>
  </div>
  <div id="ev_note" style="display:none;">
    <form action="#" class="ev_variable" data-animal="">
      <strong>Nota</strong><br />
      <input type="text" name="ts" class="form-control date" placeholder="fecha . . ." /><br />
      <textarea name="note" class="form-control" cols="35" rows="5" placeholder="nota . . ."></textarea><br />
    </form>
  </div>

<!----------------------------------------------------------->

      </div>
      <div class="modal-footer">
        <button class="btn btn-success">ingresar</button>
      </div>
    </div>
  </div>
</div>

<!-- ====================================== -->
<!-- End HTML code.  Begin JavaScript code. -->

<script>
var eventsDic = {
  "ev_entry_female": {"name":"ingreso hembra", "cols":["raza", "camada", "nacimiento", "pedigree"]},
  "ev_entry_male": {"name":"ingreso macho", "cols":["raza", "camada", "nacimiento", "pedigree"]},
  "ev_entry_semen": {"name":"ingreso semen", "cols":["raza", "camada", "nacimiento", "pedigree"]},
  "ev_sale_semen": {"name":"salida semen", "cols":[]},
  "ev_sale": {"name":"salida", "cols":["causa"]},
  "ev_heat": {"name":"celo sin servicio", "cols":["lordosis"]},
  "ev_service": {"name":"servicio", "cols":["padrote", "cubriciones",
                                            "lordosis", "calidad"]},
  "ev_check_pos": {"name":"diagnostico +", "cols":["examen", "nota"]},
  "ev_check_neg": {"name":"diagnostico -", "cols":["examen", "nota"]},
  "ev_abortion": {"name":"aborto", "cols":["inducido"]},
  "ev_farrow": {"name":"parto", "cols":["camada", "machos", "hembras", "peso",
                            "muertos", "momias", "hernias", "criptorquideos",
                            "distocia", "retencion", "inducido", "asistido"]},
  "ev_death": {"name":"baja", "cols":["causa", "animales"]},
  "ev_foster": {"name":"adopcion -", "cols":["hacia", "animales", "peso"]},
  "ev_adoption": {"name":"adopcion +", "cols":["desde", "animales", "peso"]},
  "ev_partial_wean": {"name":"destete parcial", "cols":["animales", "peso"]},
  "ev_wean": {"name":"destete", "cols":["animales", "peso"]},
  "ev_semen": {"name":"estraccion", "cols":["volumen", "concentracion",
                                            "motilidad", "dosis"]},
  "ev_ubication": {"name":"ubicacion", "cols":["ubicacion"]},
  "ev_feed": {"name":"alimentacion", "cols":["peso"]},
  "ev_condition": {"name":"condicion", "cols":["condicion", "peso", "grasa"]},
  "ev_milk": {"name":"leche", "cols":["peso", "calidad"]},
  "ev_dry": {"name":"secado", "cols":[]},
  "ev_temperature": {"name":"temperatura", "cols":["temperatura"]},
  "ev_treatment": {"name":"tratamiento", "cols":["medicamento", "dosis", "frecuencia", "dias", "ruta", "nota"]},
  "ev_note": {"name":"nota", "cols":["nota"]}
};

function setHistory($table, rs){
  var rows=[], lastDate=0;
  for (var i=0; i < rs.length; ++i) {
    var parity="", days="", date=new Date(rs[i][2] * 1000);
    switch (rs[i][1]){
      case "ev_entry_female":
      case "ev_entry_male":
      case "ev_entry_semen":
        var birth_ts = rs[i][4].match(/\d{9,10}/) * 1000;
        rs[i][4] = rs[i][4].replace(/(\d{9,10})/, new Date(birth_ts).toSql());
      break;
      case "ev_service":
        lastDate = rs[i][2];
      break;
      case "ev_farrow":
        parity = rs[i][3];
        days = getDays(date - new Date(lastDate * 1000));
        lastDate = rs[i][2];
      break;
      case "ev_check_pos":
      case "ev_check_neg":
      case "ev_abortion":
      case "ev_death":
      case "ev_foster":
      case "ev_adoption":
      case "ev_partial_wean":
      case "ev_wean":
      case "ev_semen":
        days = getDays(date - new Date(lastDate * 1000));
      break;
    }
    rows.push([rs[i][0], parity, date.toSql(), days, eventsDic[rs[i][1]]["name"],
               $.map(rs[i][4].split("_"), function(v, k){
                 return v?eventsDic[rs[i][1]]["cols"][k]+": "+v:"";
               }).join(", ")]);
  }
  $table.find("tbody").html($.map(rows.reverse(), function(row){          
    return '<tr data-id="'+row[0]+'"><td>' + row.slice(1).join('</td><td>') + '</td></tr>';
  }).join(""));
}

document.addEventListener("DOMContentLoaded", function(event) {

  $("#main_content").on("click", "span.history", function() {
    var pd = new FormData(),
        animal = $(this).text();
    pd.append("all", "false");
    pd.append("animal", animal);
    request('{{ url_for("breeding.get_animal_history") }}', pd, function(rs){
      var $modal = $("#history_modal"),
          rules = rs["rules"].split("|"),
          tmp = ['<option>evento</option>'];
      for (var k in rules) {
        tmp.push('<option value="' + rules[k] + '">');
        tmp.push("Ingresar " + eventsDic[rules[k]]["name"] + '</option>');
      }
      $modal.data("animal", animal);
      $modal.find("div.modal-header h3").text("Animal: "+animal);
      $modal.find("div.modal-body select").html(tmp.join(""));
      setHistory($modal.find("div.modal-body table"), rs["ev_variable"]);
      $modal.modal("show");
    });
  });

  $("#history_modal div.modal-body").on("change", "select", function(e){
    var id = $(this).val(),
        title = $(this).find("option:selected").text(),
        $modal = $("#animal_events_modal");
    $modal.data("action", id);
    $modal.data("animal", $("#history_modal").data("animal"));
    $modal.find("div.modal-header h3").text(title);
    $modal.find("div.modal-body div:not(.input-group, .input-group-prepend, .dropdown-menu)").hide();
    $("#"+id).show();
    $modal.modal("show");
  });

  $("#animal_events_modal form").submit(function(){
    var pd = new FormData(this),
        $modal = $("#animal_events_modal");
    pd.append("action", $modal.data("action"));
    pd.append("animal", $modal.data("animal"));
    request('{{ url_for("breeding.set_animal_event") }}', pd, function(rs){
      $modal.modal("hide");
      alert("Ingresado!");
    });
    return false;
  });

  $("#animal_events_modal div.modal-footer button").click(function() {
    $("#" + $("#animal_events_modal").data("action") + " form").submit();
  });

});
</script>
