{% extends "base.html" %}
{% block title %}Reportes{% endblock %}
{% block body %}
<div>
  <div style="display: flex; flex-direction: row;">
    <div style="flex: 0 0 auto; width:200px;">
      <h3>TABLES</h3>
      <div style="padding-left:15px; height: 775px; overflow-x: hidden; overflow-y: scroll;">
        <table id="schema_table"><tbody></tbody></table>
      </div>
    </div>
    <div style="flex: 1 1 auto; width:calc(100% - 200px); min-width: 850px;">

      <h3 class="row">
        SQL / JSON&nbsp;
        <select id="querys_saved" class="col-auto form-select" style="width:500px;"></select>&nbsp;
        <input id="query_select" type="button" class="col-auto col-lg-1 btn btn-success" value="select" />
      </h3>
      <div class="panel-container-vertical" style="height: 725px;">
        <!-- variables => %(d1)s = desde, %(d2)s = hasta, %(v)s = valor, %(c)s = moneda -->
        <div id="code-wrapper0" class="panel-top" data-language="sql"
             style="height: 450px; background:#000; caret-color: #fff;">
-- comment
SELECT MIN(id), MAX(id) FROM documents WHERE date>=%(d1)s AND date<=%(d2)s;
        </div>
        <div class="splitter-horizontal"></div>
        <!-- variables => head = encabezado, value = valor, class = clase(subquery, record), foot = pie(sum, avg, min, max, count) -->
        <div id="code-wrapper1" class="panel-bottom" data-language="json"
             style="background:#000; caret-color: #fff;">
[{"type":"table",
  "defs":[{"head":"Min", "foot":"count"},
          {"head":"Max", "class":"subquery"},
          {"head":"Min+Max", "value":"r[0] + r[1]"}]}]
        </div>
      </div>

      <div id="querys_information" class="row" style="margin:10px;">
        <input type="text" class="col-auto form-control" name="code" placeholder="code . . ." style="width:200px;" />&nbsp;
        <input type="text" class="col-auto form-control" name="title" placeholder="title . . ." style="width:300px;" />&nbsp;
        <input type="button" class="col-auto btn btn-primary" value="insert" />&nbsp;
        <input type="button" class="col-auto btn btn-warning" value="update" />&nbsp;
        <input type="button" class="col-auto btn btn-danger" value="delete" />
      </div>

    </div>
  </div>
  <!--div style="width:900px; margin:1px auto;">
    <div id="querys_buttons" class="row"></div>
    <div id="querys_content"></div>
  </div-->
</div>
{% endblock %}

{% block script %}
<!--script>{% include("templates/report.js") %}</script-->
<script>
$(".panel-top").resizable({handleSelector: ".splitter-horizontal", resizeWidth: false});

function array_tree_table(id, tmp, levels) {
  var parents=[0,1], len=tmp.length;
  var rows=["<tr id='"+id+"-1' class='parent'><td class='first'>", tmp[0].join("</td><td>"), "</td></tr>"];
  for (i=1; i<len; ++i){
    var level=parseInt(levels[i], 10);
    parents[level+1] = i+1;
    parents = parents.slice(0, level+2);
    rows.push("<tr id='"+id+"-"+(i+1)+"' class='"+(tmp[i][0].match(/bold/)?'parent ':'')+(level?"child-of-"+id+"-"+parents.slice(-2, -1):'')+"'><td class='first'>", tmp[i].join("</td><td>"), "</td></tr>");
  }
  return rows.join('');
}

///////////// QUERYS /////////////
var flask0=new CodeFlask, flask1=new CodeFlask;
flask0.run("#code-wrapper0", {language: "sql", lineNumbers: true});
flask1.run("#code-wrapper1", {language: "json", lineNumbers: true});

/*
var flask0 = new CodeFlask('#code-wrapper0', {language: 'sql', lineNumbers: true, defaultTheme: false}),
    flask1 = new CodeFlask('#code-wrapper1', {language: 'js', lineNumbers: true, defaultTheme: false});
*/

function set_querys_schema_titles(rs) {
  // SCHEMA
  var schema = rs["schema"], rows = [], levels = [];
  for (var i in schema) {
    var tmp = schema[i]['columns'].split(",");
    rows.push([schema[i]['table']]);
    levels.push(0);
    for (var j in tmp) {
      rows.push([tmp[j]]);
      levels.push(1);    
    }
  }
  $("#schema_table tbody").html(array_tree_table('compSal', rows, levels));
  $("#schema_table").treeTable();
  // TITLES
  var titles = rs["titles"], rows = ['<option value="">Saved Querys . . .</option>'];
  for (var k in titles) {
    rows.push('<option value="'+titles[k]['code']+'">' +
              titles[k]['code'].padEnd(titles[k]['l']+4, '_') + titles[k]['title'] +
              '</option>');
  }
  $("#querys_saved").html(rows.join(""));
}

// QUERYS SAVED
set_querys_schema_titles({{ schema_titles|safe }});

$("#querys_saved").on("change", function(){
  var pd = new FormData(),
      code = $(this).val();
  if (code != "") {
//    pd.append("action", "select_querys_data");
    pd.append("code", code);
    request('{{ url_for("pgvega.get_query_def") }}', pd, function(rs){
      flask0.update(rs[1].replace(/\\\\/g, '\n'));
      flask1.update(rs[2].replace(/\\\\/g, '\n'));
      $("#querys_information").find("input[name='code']").val(rs[3]).end()
                              .find("input[name='title']").val(rs[4]);
    });
  }
});

$("#query_select").click(function(){
  var code = $("#querys_information").find("input[name='code']").val();
  window.location = '{{ url_for("pgvega.get_report", code="") }}' + code;
});

// QUERYS INFORMATION
$("#querys_information input[value='insert']," +
  "#querys_information input[value='update']").click(function(){
  var pd = new FormData(),
      v = $(this).attr("value"),
      $qi = $("#querys_information");
  pd.append("action", v);
  pd.append("query", $.trim($("#code-wrapper0 code").text()).replace(/\n/g, '\\\\'));
  pd.append("defs", $.trim($("#code-wrapper1 code").text()).replace(/\n/g, '\\\\'));
  pd.append("code", $.trim($qi.find("input[name='code']").val()));
  pd.append("title", $.trim($qi.find("input[name='title']").val()));
  request('{{ url_for("pgvega.set_query") }}', pd, set_querys_schema_titles);
});

$("#querys_information input[value='delete']").click(function(){
  var pd = new FormData();
  pd.append("action", "delete");
  pd.append("code", $.trim($("#querys_information input[name='code']").val()));
  request('{{ url_for("pgvega.set_query") }}', pd, set_querys_schema_titles);
});
</script>
{% endblock %}
