{% extends "base.html" %}
{% block title %}Reporte{% endblock %}
{% block body %}

<div id="querys_buttons" class="row buttons"></div>

<div id="querys_content"></div>

<!-- SUBQUERY MODAL -->
<div id="subquery_modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3 class="modal-title">Subquery</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn btn-info xls_subquery">xls</button>
        <button class="btn btn-info print_subquery">imprimir</button>
      </div>
    </div>
  </div>
</div>

<div id="subquery2_modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3 class="modal-title">Subquery2</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn btn-info xls_subquery">xls</button>
        <button class="btn btn-info print_subquery">imprimir</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>{% include("templates/report.js") %}</script>
<script>
// QUERYS TABLE
set_buttons($("#querys_buttons"), {{ data|safe }});

var params = new URLSearchParams(window.location.search);
$("#querys_buttons").find("input, select").each(function(index){
  var name = $(this).attr('name');
  if (params.has(name)) $(this).val(params.get(name));
});

$("#querys_content").data("all_lines", true);
$("#querys_buttons button[name='ver']").click(function(){
  var pd = new FormData(),
      pdf = $(this).data('pdf') == '1',
      $buttons = $(this).parent(),
      $inputs = $buttons.find("input[type=text]:visible, select:visible"),
      params = [];
  $inputs.each(function(index){
    var $input = $(this);
    pd.append($input.attr('name'), $input.val());
    params.push($input.attr('name')+': '+$input.val());
  });
  if (!pdf) {
    request('{{ url_for("pgvega.get_report", code=code) }}', pd, function(rs){  //  + window.location.search
      $("#querys_content").empty();
      set_content($("#querys_content"), rs);
    });
  } else {
    pd.append("params", params.join(", "));
    request_pdf('{{ url_for("pgvega.get_report_pdf", code=code) }}', pd, function(blob, filename){
      downloadPDF(blob, "{{ code }}.pdf");
    });
  }
});
</script>
{% endblock %}
