{% extends "base.html" %}
{% block title %}Chats{% endblock %}
{% block body %}
<div class="row">

  <nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow">
    <button class="navbar-toggler d-md-none" id="sidebar_btn" type="button"  data-bs-toggle="collapse" data-bs-target="#sidebarChat" aria-controls="sidebarChat" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h4 class="navbar-brand col-auto col-md-3 me-0 px-3">Chats</h4>
    <div class="input-group w-100">
      <input type="text" class="form-control" id="chat_msg" placeholder="mensaje . . ." autocomplete="off">
      <div class="input-group-append">
        <button id="chat_rec_btn" class="btn btn-warning"><i class="fa fa-lg fa-microphone"></i></button>
        <button id="chat_send_btn" class="btn btn-success"><i class="fa fa-lg fa-check"></i></button>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <nav id="sidebarChat" class="col-md-3 col-lg-3 d-md-block bg-light collapse">
        <div class="sidebar-sticky pt-3">
          <div class="input-group">
            <input type="text" class="form-control" id="chat_search" placeholder="buscar . . ." autocomplete="off">
            <div class="input-group-append">
              <button id="chat_search_btn" class="btn btn-success"><i class="fa fa-plus"></i></button>
            </div>
          </div>
          <ul class="nav flex-column" id="chats_list"></ul>
        </div>
      </nav>

      <div class="col-md-9 ms-sm-auto px-md-4">
        <h2 id="chat_title"></h2>
        <div id="chat_div"></div>
        <div style="clear: both;"></div>
        <div id="chat_paginate"></div>
      </div>

    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script>
///////////////////////////// CHATS /////////////////////////////
function set_item(row){
  return '<li class="nav-item">' +
         '  <a class="nav-link active" id="chat_' + row['thread'] + '" href="#"' +
         '     data-title="' + row['title'] + '"' +
         '     data-type="' + row['type'] + '"' +
         '     data-inactived="' + row['inactived'] + '">' +
         row['title'] +
         ((row['unread'] > 0)?'<span class="badge badge-warning badge-pill">'+ row['unread'] +'</span>':'') +
//         '<span class="text-muted ms-3" style="font-size:1rem">'+ row['last'] +'</span>' +
         '  <i class="fa fa-angle-right fa-lg mt-1 float-end"></i>' +
         '  </a>' +
         '</li>';
}

$("#chats_list").html($.map({{ chats|safe }}, function(row){
  return set_item(row);
}).join(''));

$("#chat_search").typeahead({
  source: function(query, process) {
    var pd = new FormData();
    pd.append("val", query);
    request('{{ url_for("workers_chats.get_chat") }}', pd, process);
  },
  updater: function(item){
    var $input = $("#chat_search");
    $input.data("id", item.id);
    $input.data("name", item.name);
    $input.data("type", item.type);
    return item;
  }
});

$("#chat_search_btn").click(function(ev){
  var $input = $("#chat_search");
  if ($input.val() != $input.data('name')) {
    alert('Error en seleccion!');
  } else {
    var pd = new FormData();
    pd.append('id', $input.data('id'));
    pd.append('type', $input.data('type'));
    request('{{ url_for("workers_chats.set_chat") }}', pd, function(rs){
      $("#chats_list").prepend(set_item({"thread":rs["thread"], "type":rs["type"],
                                         "title":$input.data('name'),
                                         "inactived":"", "unread":0, "last":""}));
      $("#chat_" +rs["thread"]).click();
    });
  }
});

///////////////////////////// CHAT /////////////////////////////
var ws = null;

function set_card(chat_title, worker, msg, dt){
  let card = '';
  if (worker != '') {
    let typing = (msg == '**typing**')?true:false;
    card = '<div class="alert alert-warning w-75 float-start '+ (typing?'typing':'') +'">' +
           ((worker != chat_title)?'<h5>' + worker + '</h5>':'') +
           (typing?'escribiendo . . .':msg) +
           '<span class="float-end text-muted">' + dt + '</span>' +
           '</div>';
  } else {
    card = '<div class="alert alert-success w-75 float-end">' +
           msg +
           '<span class="float-end text-muted">' + dt + '</span>' +
           '</div>';
  }
  return card;
}

$("#chats_list").on('click', 'a.nav-link', function(ev){
  var pd = new FormData(),
      $this = $(this),
      thread = $this.attr('id').replace('chat_', '');

  // TODO active user
  let last = '<span class="text-muted float-end" style="font-size:1rem">ultima vez: '+ $this.data('inactived') +'</span>';
  $("#chat_title").html((($this.data('type')=='private')?last:'') + $this.data('title'));
  $("#chat_div").empty();
  $("#chat_div").data("thread", thread);
  $("#chat_div").data("title", $this.data('title'));
  $("#chat_" + thread + " span.badge").remove();
  if ($("#sidebar_btn").is(':visible')) $("#sidebar_btn").click();

  pd.append('page', 1);
  pd.append('thread', thread);
  request('{{ url_for("workers_chats.get_chat_data") }}', pd, function(rs){

    $("#chat_div").html($.map(rs['rows'], function(row){
      return set_card($this.data('title'), row['worker'], row['msg'], row['dt']);
    }).join(''));
    var page = parseInt(rs['page'], 10);
    $("#chat_paginate").html('<a class="btn btn-warning mb-2 '+ ((page >= rs['pages'])?'disabled':'') +'"'+
                             '   href="#'+ (page+1) +'" role="button">mensajes anteriores</a>');

    if (ws) ws.close();
    let protocol = (location.protocol == 'https:')?'wss':'ws';
    ws = new WebSocket('{{ url_for("workers_chats.chat_ws") }}'.replace(/^ws/, protocol) + '?thread=' + thread);
    ws.onmessage = function (event) {
      let data = JSON.parse(event.data);
      switch (data['action']) {
        case 'joined':
          // TODO
        break;
        case 'active':
          $("#chat_div div.typing").remove();
          $("#chat_div").prepend(set_card($this.data('title'), data['worker'], data['msg'], data['dt']));
        break;
        case 'others':
          let $span = $("#chat_" + data['thread'] + " span.badge");
          $span.text(parseInt($span.text(), 10) + 1);
        break;
      }
    };

  });
});

var timer=null;

function send_msg(){
  if (ws) {
    window.clearTimeout(timer);
    ws.send($.trim($("#chat_msg").val()));
    $("#chat_msg").val('').focus();
  } else {
    alert('Seleccione un Chat!');
  }
}

$("#chat_msg").keydown(function( event ) {
  if (event.which == 13) {
    event.preventDefault();
    send_msg();
  } else if (ws) {
    window.clearTimeout(timer);
    timer = window.setTimeout(function() { ws.send('**typing**'); }, 5000);
  }
});

$("#chat_send_btn").click(function( event ) {
  send_msg();
});

$("#chat_paginate").on("click", "a", function(ev){
  var pd = new FormData(),
      page = $(this).attr("href").replace(/#/, '');
  pd.append('page', page);
  pd.append('thread', $("#chat_div").data("thread"));
  request('{{ url_for("workers_chats.get_chat_data") }}', pd, function(rs){
    $("#chat_div").append($.map(rs['rows'], function(row){
      return set_card($("#chat_div").data("title"), row['worker'], row['msg'], row['dt']);
    }).join(''));
    var page = parseInt(rs['page'], 10);
    $("#chat_paginate").html('<a class="btn btn-warning mb-2 '+ ((page >= rs['pages'])?'disabled':'') +'"'+
                             '   href="#'+ (page+1) +'" role="button">mensajes anteriores</a>');
  });
});
</script>
{% endblock %}
