{% extends "base.html" %}
{% block title %}Whasapp{% endblock %}
{% block body %}
<div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="modal" href="#whatsapp_status_modal">Status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="modal" href="#whatsapp_send_modal">Send</a>
    </li>
  </ul>

  <h2>Whatsapp</h2>

  <table id="whatsapp_table" class="table table-striped">
    <thead>
      <tr><th>Id</th>
          <th>Estado</th>
          <th>Pedido</th>
          <th>Productor</th>
          <th>Telefono</th>
          <th>Mensage</th></tr>
    </thead>
    <tbody></tbody>
  </table>

  <nav id="whatsapp_pagination" aria-label="Whatsapp navigation"></nav>

</div>

<!-- WHATSAPP STATUS MODAL -->
<div class="modal fade" id="whatsapp_status_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="whatsappStatusModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="whatsappStatusModalLabel">Estado: <span id="whatsapp_status"></span></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="whatsapp_qrcode"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary set_status" data-action="connect">Connect</button>
        <button type="button" class="btn btn-danger set_status" data-action="quit">Quit</button>
        <button type="button" class="btn btn-success set_status" data-action="profile">Save Profile</button>
        <!--button type="button" class="btn btn-success" id="whatsapp_get_qrcode">Qrcode</button-->
        <button type="button" class="btn btn-success" id="whatsapp_get_status">Status</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- WHATSAPP SEND MODAL -->
<div class="modal fade" id="whatsapp_send_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="whatsappSendModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="whatsappSendModalLabel">Enviar Mensage</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <input type="text" id="whatsapp_phone" class="form-control" placeholder="telefono . . ." />
        <label for="whatsapp_msg">Mensage</label>
        <textarea id="whatsapp_msg" class="form-control" rows="3"></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="whatsapp_send">Send</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
function set_whatsapp(rs){
  $("#whatsapp_table > tbody").html($.map(rs['rows'], function(row){
    row[1] = row[1]?'si':'no';
    return '<tr data-id="'+row[0]+'"><td>' + row.join('</td><td>') + '</td></tr>';
  }).join(''));

  paginate($("#whatsapp_pagination"), rs);
}

set_whatsapp({{ data|safe }});

$("#whatsapp_pagination").on("click", "a", function(ev){
  var pd = new FormData(),
      page = $(this).attr("href").replace(/#/, '');
  pd.append('page', page);
  request('{{ url_for("messaging.whatsapp_get_msgs") }}', pd, set_whatsapp);
});

$("#whatsapp_get_status").on("click", function(ev){
  request('{{ url_for("messaging.whatsapp_get_status") }}', new FormData(), function(rs){
    $("#whatsapp_status").text(rs['status']);
    if (rs['qrcode'] == '') {
      $("#whatsapp_qrcode").empty();
    } else {
      $("#whatsapp_qrcode").kjua({"text":rs['qrcode']});
    }
  });
});

$("#whatsapp_status_modal").on("click", ".set_status", function(ev){
  var pd = new FormData(),
      action = $(this).data("action");
  pd.append('action', action);
  request('{{ url_for("messaging.whatsapp_set_status") }}', pd, function(rs){
    alert(rs['action']);
  });
});

$("#whatsapp_send").on("click", function(ev){
  var pd = new FormData();
  pd.append('phone', $("#whatsapp_phone").val());
  pd.append('msg', $("#whatsapp_msg").val());
  request('{{ url_for("messaging.whatsapp_set_msg") }}', pd, function(rs){
    alert(rs['action']);
  });
});
</script>
{% endblock %}
