{% import "bootstrap_utils.html" as utils %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--meta name="author" content="wagner"-->
  <meta name="description" content="Granja Libre">
  <meta name="keywords" content="nacional, local, saludable, bajo-precio">
  <meta name="theme-color" content="#666">
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <title>{{ title }} | Granja Libre</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='css/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  {% if current_user.is_authenticated %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/codeflask.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">
  <!--link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.min.css') }}"-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.treeTable.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/monthly.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/notebook.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/notebook_code.css') }}">
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
{% if not current_user.is_authenticated %}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 2.5rem; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 2.5rem;
}

{% else %}

body {
  font-size: .875rem;
  margin-top: 3.4rem;
}

/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  line-height:13px;
  font-size: 1rem;
}

.navbar-brand small {display:block; font-size:10px;}

/*
 * Sidebar
 */
@media screen and (max-width: 450px) {
  .mobile-space {margin-left:17rem;}
}

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.bd-links{overflow:auto;font-weight:600}
.bd-links a{padding:.1875rem .5rem; margin-top:.125rem;margin-left:1.25rem;color:rgba(0,0,0,0.65);text-decoration:none}
.bd-links a:hover,.bd-links a:focus{color:rgba(0,0,0,0.85);background-color:rgba(121,82,179,0.1)}
.bd-links .btn{padding:.25rem .5rem;font-weight:600;color:rgba(0,0,0,0.65);background-color:transparent;border:0}
.bd-links .btn:hover,.bd-links .btn:focus{color:rgba(0,0,0,0.85);background-color:rgba(121,82,179,0.1)}
.bd-links .btn:focus{box-shadow:0 0 0 1px rgba(121,82,179,0.7)}
.bd-links .btn::before{width:1.25em;line-height:0;content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");transition:transform 0.35s ease;transform-origin:.5em 50%}
@media (prefers-reduced-motion: reduce){ .bd-links .btn::before{transition:none} }
.bd-links .btn[aria-expanded="true"]{color:rgba(0,0,0,0.85)}
.bd-links .btn[aria-expanded="true"]::before{transform:rotate(90deg)}
.bd-links .active{font-weight:600;color:rgba(0,0,0,0.85)}


/* lateral */
.lateral_div {
	position: fixed;
	z-index: 2000;
	right: 0;
	width: 20em;
	padding: .5em;
	overflow: hidden;
	-webkit-transform: translateX(19.5em);
	-moz-transform: translateX(19.5em);
	-ms-transform: translateX(19.5em);
	transform: translateX(19.5em);
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
	-webkit-overflow-scrolling: touch;
}

.lateral_div.active {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

#calculator_div {top: 3em;}

/* #calculator_button { position: absolute; top: 1em; right: 1em;} */

/* RESUMENS GRAPH */
.axis--x path { display: none; }
.line {fill: none; stroke: steelblue; stroke-width: 1px;}
.zoom {cursor: move; fill: none; pointer-events: all;}
/*
.xline {stroke:black; stroke-width:2px;}
.xtext {stroke-width:0.5px;}
*/

/* PRODUCTION GRAPH */
text {
  font: 10px sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

circle {
  cursor: pointer;
}

.node circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.node_active circle {
  stroke: red;
  stroke-width: 3px;
}

.child circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

.child_feed circle {
  fill: red;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

/* TREE GRAPH */
.name {
  font-weight: bold;
}

.about {
  font-size: smaller;
}

.link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/*
@media screen and (max-width: 450px) {
  .mobile-space {margin-left:17rem;}
}
*/

/* MODAL BACKDROP FIX */
.modal-backdrop {
  height: 100%;
  width: 100%;
}
{% endif %}
  </style>
  <script>
/*
    var print_header = ("{# rs['unescape'](rs['print_header']) #}").split("\\");
    print_header[0] = '<h2 style="display:inline">'+print_header[0]+'</h2>';
    print_header = print_header.join('<br>');
*/
  var TIMEZONE = 'es-CR'

  var print_header = '<h1 style="display:inline">Granja Libre</h1>' +
                     '<br />pagina web: https://granjalibre.com';

  var logo = "vaca.png";
  </script>
</head>
<body>

{% if not current_user.is_authenticated %}

<header class="navbar navbar-dark bg-dark shadow sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('workers.home', activity_url=session['activity_url'] or activity_url) }}">
      Granja Libre
    </a>
    <nav class="nav-masthead">
      <!--a class="link-secondary{# if request.path == url_for('workers.register', activity_url=activity_url) #} active {# endif #}" href="{# url_for('workers.register', activity_url=activity_url) #}">Registro</a-->
      <a class="nav-link px-3{% if request.path == url_for('workers.login', activity_url=activity_url) %} active {% endif %}" href="{{ url_for('workers.login', activity_url=activity_url) }}">Ingreso</a>
    </nav>
  </div>
</header>

{% else %}

<header class="navbar navbar-light bg-white fixed-top flex-md-nowrap p-0">
  <a class="navbar-brand bg-dark text-white shadow col-md-3 col-lg-2 px-3" href="{{ url_for('workers.home', activity_url=session['activity_url'] or activity_url) }}">
    {# rs['unescape'](rs['header']) #}
    Granja Libre
    <small>{{ current_user.worker }}</small>
  </a>
  <button class="navbar-toggler d-md-none px-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#side_menu" aria-controls="side_menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav>
    <a class="link-secondary px-2" href="#" target="_blank"><i class="fa fa-lg fa-window-maximize"></i></a>
    <a class="link-secondary px-2" href="#" id="print_button"><i class="fa fa-lg fa-print"></i></a>
    <a class="link-secondary px-2" href="#" id="calculator_button"><i class="fa fa-lg fa-calculator"></i></a>
    <a class="link-secondary px-2" href="{{ url_for('workers.logout') }}"><i class="fa fa-lg fa-sign-out"></i></a>
  </nav>
</header>

{% endif %}

<main class="{% if current_user.is_authenticated %}container-fluid{% endif %}">
  <div class="{% if current_user.is_authenticated %}row{% endif %}">

    {% if current_user.is_authenticated %}
    <nav id="side_menu" class="col-md-3 col-lg-2 d-md-block bg-light collapse bd-links sidebar">
      <ul class="list-unstyled mb-0 py-3 pt-3">

        {% for item in session['menu'] %}
        {% if (item['forms']+item['reports']+item['notebooks'])|length > 0 %}
        <li class="mb-1">
          <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#{{ item['code'] }}-collapse" aria-expanded="false" aria-current="false">{{ item['title'] }}</button>
          <div class="collapse" id="{{ item['code'] }}-collapse">
            <ul class="list-unstyled fw-normal pb-1 small">
              {% for f in item['forms'] %}
              <li><a href="{{ url_for(f['url']) }}" class="d-inline-flex align-items-center rounded">
                {{ f['name'] }}
              </a></li>
              {% endfor %}
              {% if item['reports']|length > 0 %}
              <li style="margin-left:1.75rem;">Reportes
                <ul class="list-unstyled">
                  {% for r in item['reports'] %}
                  <li><a href="{{ url_for('pgvega.get_report', code=r['code']) }}" class="d-inline-flex align-items-center rounded">
                    {{ r['title'] }}
                  </a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %}
              {% if item['notebooks']|length > 0 %}
              <li style="margin-left:1.75rem;">Notebooks
                <ul class="list-unstyled">
                  {% for n in item['notebooks'] %}
                  <li><a href="{{ url_for('notebooks.get_notebook', notebook_id=n['id']) }}" class="d-inline-flex align-items-center rounded">
                    {{ n['title'] }}
                  </a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </li>
        {% endif %}
        {% endfor %}

        <!--li class="my-3 mx-4 border-top"></li-->

      </ul>
    </nav>
    {% endif %}
    <div id="main_content" class="{% if current_user.is_authenticated %}col-md-9 col-lg-10 ms-sm-auto px-md-4{% endif %}">
      <div class="container">{{ utils.flashed_messages() }}</div>
      {% block body %}{% endblock %}
    </div>
  </div>
</main>

{% if not current_user.is_authenticated %}
<footer class="footer border-top">
  <div class="container">
    <p class="copyright text-muted small">Copyleft 2020. All Rights Reserved</p>
  </div>
</footer>
{% else %}

<!-- CALCULATOR -->
<!--a id="calculator_button" class="link-success" href="#"><i class="fa fa-lg fa-calculator"></i></a-->
<div id="calculator_div" class="lateral_div rounded shadow">
  <input type="text" class="form-control" placeholder="calculadora . . .">
  <textarea class="form-control" style="height:20em;"></textarea>
</div>

<!-- QRCODE MODAL -->
<div class="modal fade" id="qrcode_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="qrcodeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="qrcodeModalLabel">QR CODE</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="qrcode_reader" width="100%"></div>
        <audio hidden id="qrcode_beep" src="{{ url_for('static', filename='beep.mp3') }}" type="audio/mp3"></audio>
      </div>
      <!--div class="modal-footer"></div-->
    </div>
  </div>
</div>

{% include("templates/breeding_events.html") %}

{% endif %}

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

{% if current_user.is_authenticated %}
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/codeflask.js') }}"></script>
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<script src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.treeTable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-resizable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.simplePagination.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.stickytableheaders.min.js') }}"></script>
<!--script src="{{ url_for('static', filename='js/cropper.min.js') }}"></script-->
<!--script src="{{ url_for('static', filename='js/jquery-cropper.min.js') }}"></script-->
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-typeahead.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/monthly.js') }}"></script>
<script src="{{ url_for('static', filename='js/FileSaver.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/kjua.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/html5-qrcode.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script>
  var $side_menu = $("#side_menu"),
      $main_content = $("#main_content"),
      resizeObserver = new ResizeObserver(() => {  // ms-sm-auto fix
        if ($main_content.hasClass('ms-sm-auto')) $main_content.removeClass('ms-sm-auto');
        $main_content.css("margin-left", $side_menu.is(":visible")?$side_menu.width()+'px':0);
      });
  resizeObserver.observe($side_menu[0]);
  $main_content.on("click", "table tbody tr", function(){ $(this).toggleClass("table-warning"); });
  $side_menu.find("a[href='{{ request.path }}']").addClass("active")
                                                 .closest("li.mb-1").find('button').click();
  $(".alert").delay(4000).slideUp(200, function(){ $(this).alert('close'); });
  
  // TYPEAHEAD
  $.fn.typeahead.Constructor.defaults.theme = "bootstrap4";
  $.fn.typeahead.Constructor.defaults.delay = 800;
  $.fn.typeahead.Constructor.defaults.items = 20;

  // QRCODE
  let $qrcode_target = null,
      qrcode_scanner = new Html5QrcodeScanner("qrcode_reader", { fps: 10, qrbox: 250 });
  qrcode_scanner.render(function(msg){
    // $qrcode_target.val(msg);
    $.map(msg.split(','), function(v){
      $qrcode_target.val(v);
      if ($qrcode_target.parent().hasClass('input-group')) {
        $qrcode_target = $qrcode_target.parent();
      }
      if ($qrcode_target.next().prop("tagName") == 'BR'){
        $qrcode_target = $qrcode_target.next().next();
      } else {
        $qrcode_target = $qrcode_target.next();
      }
    });
    $("#qrcode_beep")[0].play();
    $("#qrcode_reader").find("button:contains('Stop Scanning')").click();
    $("#qrcode_modal").modal('hide');
  });
 
  $("#qrcode_modal").on("shown.bs.modal", function (event) {
//    var $modal = $(this),
//        $button = $(event.relatedTarget);
    $qrcode_target = $(event.relatedTarget).closest('div.input-group-prepend').next();
    var $div = $("#qrcode_reader");
    if (!$div.find("button:contains('Request Camera Permissions')").is(':hidden')) {
      $div.find("button:contains('Request Camera Permissions')").click();
      var existCondition = setInterval(function() {
        if ($div.find("select").length > 0) {
          clearInterval(existCondition);
          $div.find("select option:contains('facing back')").prop('selected', true);
          $div.find("button:contains('Start Scanning')").click();
        }
      }, 100);
    } else {
      $div.find("button:contains('Start Scanning')").click();
    }
  });

  $(".qrcode_print").click(function(){
    var $input = $(this).closest('div.input-group-prepend').next();
    print_qrcode($input.val());
  });

  // DATEPICKER
  var date_index = 0;
  $(document).on("click", ".date", function(){
    var $self=$(this);
    if (!$self.next().is("div.monthly")) {
      $self.attr({"id":"input_date"+date_index, "autocomplete":"off"})  // , "readonly":"readonly"
           .after('<div id="picker' + date_index + '" class="monthly" style="z-index:1000;"></div>')
           .next().monthly({mode: "picker",
                            weekStart: "Mon",
                            monthNames: ["ene", "feb", "mar", "abr", "may", "jun",
                                         "jul", "ago", "sep", "oct", "nov", "dic"],
                            dayNames: ["DOM","LUN","MAR","MIE","JUE","VIE","SAB"],
                            setWidth: "250px",
                            target: "#input_date"+date_index,
                            showTrigger: "#input_date"+date_index,
                            startHidden: true});
      date_index = date_index + 1;
    }
    var pos = $self.position();
    $self.next().css("top", pos.top+40+"px");
    $self.next().css("left", pos.left-10+"px");
    $self.next().show();
    if ($self.val() != '') {
      $self.next().data("setMonth", parseInt($self.val().replace(/^(\d{4})\-(\d{2})\-(\d{2})/,'$2'), 10) + 1)
                  .data("setYear", parseInt($self.val().replace(/^(\d{4})\-(\d{2})\-(\d{2})/,'$1'), 10));
      $self.next().find('a.monthly-prev').click();
    }
  });

  // PRINT
  $("#print_button").click(function(){
    var $content = $("#main_content").clone(),
        $buttons = $content.find(".buttons"),
        params = $.map($buttons.find("input[type=text]:visible, select:visible"), function(input){
          var $input = $(input);
          return $input.attr('name')+': '+$input.val();
        }),
        title = $("#side_menu a.active").text();  // $buttons.find("h2").text();
        $("div.modal, .buttons, div.paginate, caption", $content).remove();
    newTab({"title": '<h2 style="display:inline">'+title+'</h2>&nbsp;' + params.join(', '),
            "content": $content.html()});
  });

  $(document).ready(function(){
    // LATERAL DIV CLASS
    $(".lateral_div").each(function() {
      var $this = $(this);
      // Events
      $this.on("click", function(ev) {
        ev.stopPropagation();
      }).on("---toggle", function() {
        if ($this.hasClass("active")) $this.triggerHandler("---hide");
        else $this.triggerHandler("---show");
      }).on("---show", function() {
        $this.addClass("active");
      }).on("---hide", function() {
        $this.removeClass("active");
      });
    });

    $(".lateral_div").on("focusin", "input, textarea", function(e){ e.stopPropagation(); });

    // CALCULATOR
    $("#calculator_button").on("click", function(ev) {
      ev.preventDefault();
      ev.stopPropagation();
      $("#calculator_div").trigger("---toggle");
    });

    $("#calculator_div input").keydown(function(e){
      if (e.keyCode == 13) {
        var $txt = $("#calculator_div textarea"),
            value = this.value;
        this.value = eval(value);
        $txt.val(value + " = " + formatCurrency(this.value,2) + "\n" + $txt.val());
      }
    });
  });
</script>
{% endif %}

{% block script %}{% endblock %}

</body>
</html>
